<link
  rel="stylesheet"
  href="{{ 'component-age-verification-modal.css' | asset_url }}"
>
<script type="module" src="{{ 'age-verification-modal.js' | asset_url }}" defer="defer"></script>

<age-verification-modal>
  <dialog
    data-modal
    class="age-verification-modal"
    open
    aria-describedby="#age-verification-modal-headline"
    style="display: none;"
  >
    <div class="age-verification-modal__inner">
      <div class="age-verification-form">
        <div class="age-verification__logo" data-brand-logo>
          <svg title="Ajornada" focusable="false">
            <use href="#brand-logo">
          </svg>
        </div>
        <span data-text>
          <h2 id="age-verification-modal-headline" class="age-verification-modal__headline">
            Are you of legal drinking age?
          </h2>
          <fieldset>
            <legend>Continue if you are of legal drinking age.</legend>
            <button class="age-verification-modal__button" data-action="confirm">Yes</button>
            <button class="age-verification-modal__button" data-action="deny">No</button>
          </fieldset>
        </span>
      </div>

      <alert style="display: none;">
        <div class="alert__inner">You Must Be Of Legal Drinking Age For Entry</div>
      </alert>
    </div>
  </dialog>
</age-verification-modal>
