{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-dress-options.css' | asset_url | stylesheet_tag }}
<div class="dress-options">
  <section class="dress-options__inner page-width">
    <div role="tablist" aria-label="Dress Options">
      <button id="tab-tops" role="tab" aria-selected="true" aria-controls="panel-tops" tabindex="0">Tops</button>
      <button id="tab-bottoms" role="tab" aria-selected="false" aria-controls="panel-bottoms" tabindex="-1">
        Bottoms
      </button>
    </div>

    <div id="panel-tops" role="tabpanel" aria-labelledby="tab-tops">
      <ul class="dress-options__list">
        {% assign top_image_urls = '' %}
        {% for product in section.settings.collection.products %}
          {% assign top_image_url = product.metafields.dress.top | image_url: 'large' %}
          {% unless top_image_urls contains top_image_url %}
            <li class="dress-options__list__item">
              {% render 'card-product',
                card_product: top_image_url,
                media_aspect_ratio: 'portrait',
                show_secondary_image: false,
                show_vendor: false,
                show_rating: false,
                lazy_load: true,
                skip_styles: false,
                quick_add: false,
                section_id: section.id,
                lwd_style: true,
                hide_price: true
              %}
            </li>
            {% assign top_image_urls = top_image_urls | append: top_image_url | append: ',' %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div>

    <div id="panel-bottoms" role="tabpanel" aria-labelledby="tab-bottoms" hidden>
      <ul class="dress-">
        {% for product in section.settings.collection.products %}
          <li class="dress-options__list__item">
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: 'portrait',
              show_secondary_image: false,
              show_vendor: false,
              show_rating: false,
              lazy_load: true,
              skip_styles: false,
              quick_add: false,
              section_id: section.id,
              lwd_style: true,
              hide_price: true
            %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const tabs = document.querySelectorAll('[role="tab"]');
    const tabPanels = document.querySelectorAll('[role="tabpanel"]');

    tabs.forEach((tab) => {
      tab.addEventListener('click', function () {
        // Deselect all tabs
        tabs.forEach((t) => {
          t.setAttribute('aria-selected', 'false');
          t.setAttribute('tabindex', '-1');
        });

        // Hide all tab panels
        tabPanels.forEach((panel) => (panel.hidden = true));

        // Select the clicked tab
        tab.setAttribute('aria-selected', 'true');
        tab.setAttribute('tabindex', '0');

        // Show the associated tab panel
        const panelId = tab.getAttribute('aria-controls');
        document.getElementById(panelId).hidden = false;
      });
    });
  });
</script>

{% schema %}
{
  "name": "Dress Options List",
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Dress Options List"
    }
  ]
}
{% endschema %}
