{% comment %} <script type="module" src="{{'loading-screen.js' |  asset_url}}" defer="defer"></script> {% endcomment %}

<loading-screen>
  <div class="loading-screen__inner">
    <div class="loading-screen__logo" data-loader-logo></div>
  </div>
</loading-screen>

<script>
    class LoadingScreen extends HTMLElement {
      constructor() {
        super();

        this.logo = this.querySelector('[data-loader-logo]');
        this.logoSvg = this.querySelector('[data-loader-logo] svg');
        this.ageVerified = localStorage.getItem('ageVerified');
        this.initLoadingAnim();
      }

      connectedCallback() {
        if (document.readyState === 'complete') {
          this.loadGSAP();
          this.setUpLinkEvents();
        } else {
          window.addEventListener('load', () => {
            this.loadGSAP();
            this.setUpLinkEvents();
          });
        }
      }

      loadScript(scriptUrl) {
        const script = document.createElement('script');
        script.src = scriptUrl;
        document.body.appendChild(script);

        return new Promise((res, rej) => {
          script.onload = function () {
            res();
          };
          script.onerror = function () {
            rej();
          };
        });
      }
  }

      pauseLoadingAnim() {
        if (this.loadingAnimationId) {
          this.loadingAnimDisabled = true;
        }
      }

      alertAgeModal() {
        if (document.querySelector('age-verification-modal')) {
          document.querySelector('age-verification-modal').playAnimation();
        }
      }

      loadGSAP() {
        // Load GSAP from the Shopify CDN
        this.loadScript('https://cdn.shopify.com/s/files/1/0638/6201/4197/files/gsap.min.js?v=1694471182')
          .then(() => {
            setTimeout(() => {
              this.startLoadedAnim();
            }, 1000);
          })
          .catch((error) => {
            console.error('Script loading failed! Handle this error');
          });
      }

      playFadeOutAnim() {
        let tl = gsap.timeline();
        this.style.pointerEvents = 'none';

        tl.fromTo(
          this.logoSvg,
          { opacity: 1 },
          {
            opacity: 0,
            duration: 0.5,
            ease: 'power1.inOut',
          }
        );

        tl.to(
          this,
          {
            opacity: 0,
            duration: 0.8,
            ease: 'power1.inOut',
            onComplete: () => {
              this.pauseLoadingAnim();
            },
          },
          '-=.2'
        );
      }

      startLoadedAnim() {
        if (this.ageVerified) {
          this.playFadeOutAnim();
        } else {
          this.alertAgeModal();
          let tl = gsap.timeline();
          this.style.pointerEvents = 'none';
          this.pauseLoadingAnim();
          tl.to(
            this,
            {
              backgroundColor: 'transparent',
              ease: 'none',
              duration: 1,
              ease: 'power1.inOut',
            },
            '+=.5'
          );
          tl.to(
            this.logo,
            {
              bottom: '.5rem',
              top: 'auto',
              scale: 0.7,
              duration: 0.8,
              ease: 'power1.inOut',
            },
            '-=1'
          );
        }
      }

      fadeInTransiton() {
        gsap.to(this, {
          opacity: 1,
          duration: 0.3,
          ease: 'power1.inOut',
        });
      }

      setUpLinkEvents() {
        function internalLink(myLink) {
          return myLink.host == window.location.host && !buttonLink(myLink);
        }

        function tabLink(myLink) {
          return myLink.getAttribute('role') && myLink.getAttribute('role').indexOf('tab') !== -1;
        }

        function buttonLink(myLink) {
          return myLink.getAttribute('role') && myLink.getAttribute('role').indexOf('button') !== -1;
        }

        // On Resize
        // window.addEventListener('resize', () => {
        //   setTimeout(() => {
        //     pageTransition.style.opacity = 0;
        //   }, 1000);
        // });

        // On Back Button Tap
        window.onpageshow = function (event) {
          if (event.persisted) {
            window.location.reload();
          }
        };

        //Setting it up on all links
        document.querySelectorAll('a').forEach((link) => {
          if (
            internalLink(link) &&
            link.getAttribute('href') &&
            link.getAttribute('href').indexOf('#') === -1 &&
            !tabLink(link) &&
            !buttonLink(link)
          ) {
            link.addEventListener('click', (event) => {
              event.preventDefault();
              let moduleURL = event.currentTarget.getAttribute('href');
              window.location = moduleURL;
              this.fadeInTransiton();
            });
          }
        });
      }
    }

    customElements.define('loading-screen', LoadingScreen);
</script>

<style>
  loading-screen {
    background-color: rgb(var(--color-base-background-1));
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }

  loading-screen.is-loaded {
  }

  .loading-screen__logo {
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    animation: fade-in-logo 0.7s ease-in-out forwards 0.2s;
  }

  @keyframes fade-in-logo {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>
