{% comment %} <script type="module" src="{{'loading-screen.js' |  asset_url}}" defer="defer"></script> {% endcomment %}

<loading-screen>
  <div class="loading-screen__inner">
    <div class="loading-screen__logo" data-loader-logo>
      <svg width="233" height="153" viewBox="0 0 233 153" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_283_655)">
          <path d="M229.158 150.484C218.447 149.569 211.341 142.972 205.1 135.214C186.11 111.604 170.47 87.8543 151.414 64.2984C148.66 60.8937 148.893 59.1214 152.134 56.116C165.936 43.3207 179.412 30.1756 192.979 17.1311C200.386 10.0083 208.941 5.16655 219.186 3.35927C221.314 2.98323 224.093 3.26599 225.506 0.00120928H170.658C170.555 1.07829 170.591 0.696432 170.486 1.77352C173.203 2.30696 175.93 2.78793 178.633 3.38404C185.595 4.92024 187.656 10.9061 183.217 16.4869C172.572 29.8666 160.19 41.5951 147.482 52.9678C140.659 59.0733 133.236 65.5081 123.998 70.4446C123.998 54.6527 123.998 39.8592 123.998 25.0642C123.998 7.94307 124.825 7.98971 141.168 1.82744C141.496 1.70356 141.627 1.06372 142.209 0.0245291H86.2375C86.8555 1.62194 87.6032 2.20202 88.4501 2.48186C101.533 6.78728 102.524 8.11214 102.524 21.6347C102.524 37.7356 103.423 63.7504 103.423 79.8527C95.9564 60.041 87.5857 30.3199 80.1202 10.5083C79.0926 7.78275 78.2749 4.95522 76.9981 2.35068C75.4706 -0.763973 73.4228 -0.778548 71.7306 2.27781C70.9173 3.74696 70.5456 5.45659 69.948 7.04672C55.6786 44.9866 42.603 83.3609 27.7696 121.101C22.2994 135.019 16.6383 148.114 0.103967 151.861C0.0369196 151.876 0.0602403 152.284 -0.000976562 153.001H50.9504C46.3343 149.984 42.845 150.337 39.6748 149.63C30.6555 147.617 27.8731 144.032 30.2605 135.189C33.4205 123.491 37.4229 112.021 40.9677 100.424C41.848 97.5423 43.6933 96.9607 46.4524 96.987C58.6506 97.1006 70.8546 97.191 83.0484 96.9476C86.9867 96.8689 88.5215 98.4138 89.6758 101.954C93.1361 112.563 97.0918 123.01 100.669 133.583C104.157 143.893 101.696 147.754 90.7879 149.56C88.6235 149.919 86.3716 149.904 84.2771 150.481C82.5149 150.965 79.9628 150.038 78.5708 152.933H147.402C147.81 152.306 148.22 151.681 148.628 151.054C138.811 150.349 133.374 145.896 129.681 139.933C126.369 134.589 124.01 128.3 123.995 122.012C123.976 113.691 123.877 105.37 123.954 97.0482C123.994 92.8302 124.078 88.6108 124.241 84.3957C124.314 82.498 124.225 76.3052 126.581 75.5721C130.881 74.2326 134.357 78.3019 137.374 81.1032C137.903 81.5944 138.407 82.1206 138.84 82.6977C152.575 100.978 163.301 119.166 176.803 137.631C181.061 143.453 179.163 147.383 172.214 149.75C170.625 150.29 168.385 149.761 167.047 151.408C167.768 151.781 168.29 152.342 168.628 153.004H232.996C230.663 151.439 229.944 150.556 229.154 150.487L229.158 150.484ZM43.6918 92.3857C50.7638 73.1483 57.6492 54.4224 64.5332 35.6966C65.1789 35.7622 65.8261 35.8292 66.4717 35.8948C73.0059 54.5711 79.5401 73.2459 86.2375 92.3857H43.6918Z" fill="#4A4A4C"/>
          </g>
          <defs>
          <clipPath id="clip0_283_655">
          <rect width="233" height="153" fill="white"/>
          </clipPath>
          </defs>
      </svg>
    </div>
  </div>
</loading-screen>

<script>
  class LoadingScreen extends HTMLElement {
    constructor() {
      super();

      this.logo = this.querySelector('[data-loader-logo]');
      this.logoSvg = this.querySelector('[data-loader-logo] svg');
      this.ageVerified = localStorage.getItem('ageVerified');
    }

    connectedCallback() {
      if (document.readyState === 'complete') {
        this.loadGSAP();
        this.setUpLinkEvents();
      } else {
        window.addEventListener('load', () => {
          this.loadGSAP();
          this.setUpLinkEvents();
        });
      }
    }

    loadScript(scriptUrl) {
      const script = document.createElement('script');
      script.src = scriptUrl;
      document.body.appendChild(script);

      return new Promise((res, rej) => {
        script.onload = function () {
          res();
        };
        script.onerror = function () {
          rej();
        };
      });
    }

    pauseLoadingAnim() {
      if (this.loadingAnimationId) {
        this.loadingAnimDisabled = true;
      }
    }

    alertAgeModal() {
      if (document.querySelector('age-verification-modal')) {
        document.querySelector('age-verification-modal').playAnimation();
      }
    }

    loadGSAP() {
      // Load GSAP from the Shopify CDN
      this.loadScript('https://cdn.shopify.com/s/files/1/0638/6201/4197/files/gsap.min.js?v=1694471182')
        .then(() => {
          setTimeout(() => {
            this.startLoadedAnim();
          }, 1000);
        })
        .catch((error) => {
          console.error('Script loading failed! Handle this error');
        });
    }

    playFadeOutAnim() {
      let tl = gsap.timeline();
      this.style.pointerEvents = 'none';

      tl.fromTo(
        this.logoSvg,
        { opacity: 1 },
        {
          opacity: 0,
          duration: 0.5,
          ease: 'power1.inOut',
        }
      );

      tl.to(
        this,
        {
          opacity: 0,
          duration: 0.8,
          ease: 'power1.inOut',
          onComplete: () => {
            this.pauseLoadingAnim();
          },
        },
        '-=.2'
      );
    }

    startLoadedAnim() {
      this.playFadeOutAnim();
    }

    fadeInTransiton() {
      gsap.to(this, {
        opacity: 1,
        duration: 0.3,
        ease: 'power1.inOut',
      });
    }

    setUpLinkEvents() {
      function internalLink(myLink) {
        return myLink.host == window.location.host && !buttonLink(myLink);
      }

      function tabLink(myLink) {
        return myLink.getAttribute('role') && myLink.getAttribute('role').indexOf('tab') !== -1;
      }

      function buttonLink(myLink) {
        return myLink.getAttribute('role') && myLink.getAttribute('role').indexOf('button') !== -1;
      }

      // On Resize
      // window.addEventListener('resize', () => {
      //   setTimeout(() => {
      //     pageTransition.style.opacity = 0;
      //   }, 1000);
      // });

      // On Back Button Tap
      window.onpageshow = function (event) {
        if (event.persisted) {
          window.location.reload();
        }
      };

      //Setting it up on all links
      document.querySelectorAll('a').forEach((link) => {
        if (
          internalLink(link) &&
          link.getAttribute('href') &&
          link.getAttribute('href').indexOf('#') === -1 &&
          !tabLink(link) &&
          !buttonLink(link)
        ) {
          link.addEventListener('click', (event) => {
            event.preventDefault();
            let moduleURL = event.currentTarget.getAttribute('href');
            window.location = moduleURL;
            this.fadeInTransiton();
          });
        }
      });
    }
  }

  customElements.define('loading-screen', LoadingScreen);
</script>

<style>
  loading-screen {
    background-color: rgb(var(--color-base-background-1));
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }

  loading-screen.is-loaded {
  }

  .loading-screen__logo {
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    animation: fade-in-logo 0.7s ease-in-out forwards 0.2s;
  }

  @keyframes fade-in-logo {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>
