{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}

<section class="collection-header master-padding-top">
  <div class="page-width">
    <div class="collection-header__inner">
      <span class="collection-header__heading"> Products </span>
      <span class="collection-header__subline">
        {{ collection.title }}
      </span>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": []
}
{% endschema %}
