{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}

<section class="collection-banner master-padding-top">
  <div>
    <h2 class=" visually-hidden">
      {{ collection.title }}
    </h2>
  </div>
</section>

<style>
  .collection-banner {
    margin-bottom: var(--level6);
  }
</style>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": []
}
{% endschema %}
