{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}

{{ 'section-main-collection-header.css' | asset_url | stylesheet_tag }}

<section class="collection-header">
  <div class="page-width is-x-small collection-header__inner">
    <h1 class="collection-header__heading">
      {{ collection.title }}
    </h1>
    <div class="collection-header__description">
      {{ collection.description }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "enabled_on": {
    "templates": ["collection", "page"]
  },
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Collection Banner"
    }
  ]
}
{% endschema %}
