{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}

<section class="collection-banner master-padding-top">
  <div>
    <h2 class="collection-banner__heading">
      {{ collection.title }}
    </h2>
    <div class="collection-banner__description">
      {{ collection.description }}
    </div>
  </div>
</section>

<style>
  .collection-banner {
    margin-bottom: var(--level6);
  }
</style>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "enabled_on": {
    "templates": ["collection"]
  },
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Collection Banner"
    }
  ]
}
{% endschema %}
