{{ 'section-text-page.css' | asset_url | stylesheet_tag }}

<section class="text-page-header">
  <div class="text-page-header__inner page-width page-width--narrow section-{{ section.id }}-padding">
    <h1 class="text-page__header__heading">
      {{ page.title | escape }}
    </h1>
  </div>
</section>

{% schema %}
{
  "name": "Text Page Header",
  "class": "section",
  "enabled_on": {
    "templates": ["page"]
  },
  "presets": [
    {
      "name": "Text Page Header"
    }
  ]
}
{% endschema %}
