

.pagination-container {
  display: flex;
  justify-content: center;

}

 
.pagination-button {
  display: flex;
  align-items: center;
  gap: var(--level2);
  flex-direction: column;
  text-decoration: none;
  font-size: var(--normal);
  font-family: var(--tertiary-font-family); 
  font-weight: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom:  var(--level10); 
}

@media screen and (min-width: 700px) {
  .pagination-button {
      margin-bottom:  calc(var(--level10) + var(--level5)); 
  }
}


.pagination-button__icon {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin-bottom: var(--level2); 
}

.pagination-button__icon svg {
  width: 100%; 
  height: 100%; 
}

.pagination-button:hover, 
.pagination-button:focus {
  text-decoration: underline;
}