
/*------------------------------------*\
    #Menu Drawer 
\*------------------------------------*/

header-drawer {
  z-index: 3;
  display: block;
  position: static;
}

.header__icon--menu {
  background: transparent;
  position: relative;
  border: none;
  outline: 0;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 3rem;
}

.header__icon--menu.is-close {
  outline: none;
}

.header__icon--menu .header__icon__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 150ms ease, opacity 150ms ease;
  width: 100%;
  height: 100%;
}


.header__icon--menu:after,
.header__icon--menu .header__icon__inner:after,
.header__icon--menu .header__icon__inner:before {
  content: " ";
  width: 70%;
  height: 1px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  margin: auto;
  transition: all var(--duration-default) ease;
}

.header__icon--menu .header__icon__inner:after {
  top: -17px;
}

.header__icon--menu .header__icon__inner:before {
  top: 17px;
}

.header__icon--menu:after {
  top: -1px;
}


.menu-drawer-container.menu-open .header__icon--menu:after {
  transform: translateX(-2px);
  opacity: 0;
  background-color: rgb(var(--color-base-text-2));
}

.menu-drawer-container.menu-open .header__icon__inner:after {
  transform: rotate(45deg);
  top: 0;
}

.menu-drawer-container.menu-open .header__icon__inner:before {
  transform: rotate(-45deg);
  top: 0;
}





/*------------------------------------*\
  #Header Menu Drawer
\*------------------------------------*/


.js menu-drawer>details>summary::before,
.js menu-drawer>details[open]:not(.menu-open)>summary::before {
  content: '';
  position: relative;
}

menu-drawer>details[open]>summary::before {
  visibility: visible;
  opacity: 1;
}

header-drawer .menu-drawer {
  position: absolute;
  background-color: transparent;
  width: 100%;
  z-index: 3;
  left: 0;
  padding: 0;
  border-left: 0;
  overflow-x: hidden;
  height: 100vh;
  z-index: 0;
  color: rgb(var(--color-base-text-2));
  top: 0;
}


.menu-drawer-container.menu-open .menu-drawer {
  animation: headerDrawerOpen .6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  pointer-events: all;
}

.menu-drawer-container.menu-close .menu-drawer {
  animation: headerDrawerClose .6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  pointer-events: all;
}


.js .header-menu-drawer {
  opacity: 0;
  pointer-events: none;
}


@keyframes headerDrawerOpen {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes headerDrawerClose {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}


.menu-drawer__inner {
  position: relative;
  height: 100%;
}

.menu-drawer__badge {
  position: absolute;
  right: var(--level5);
  top: var(--level3); 
  width: 4rem; 
  height: 4rem;
}

.menu-drawer__badge svg {
  width: 100%; 
  height: 100%; 
}

.menu-drawer__navigation-wrapper {
  overflow-y: auto;
}

.menu-drawer__navigation {}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-drawer__menu {
  padding-top: var(--level8);
  background-color: rgb(var(--color-base-background-2));
  border-bottom: 1px solid rgb(var(--color-base-text-1));
  padding-left: var(--level7);
  padding-top: 7rem;
}

.menu-drawer__menu-item {
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  font-family: var(--primary-font-family);
  font-size: var(--h6);
  margin-bottom: var(--level7);
  display: inline-block;
  color: rgb(var(--color-base-text-1));
  width: 100%; 
}

.menu-drawer__menu-link {
  text-decoration: none;
  margin-right: var(--level7); 
}

a.menu-drawer__menu-item:hover,
a.menu-drawer__menu-item:focus {
  text-decoration: underline;
}

.menu-drawer__menu-item.menu-drawer__menu-item--no-children {
  margin-bottom: var(--level3);
  display: inline-block;
}


.menu-drawer__menu-item .icon.icon-arrow {
  width: 1rem;
  height: 1rem; 
}


.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
  color: rgb(var(--color-base-text-1));
}

.menu-drawer__menu-link.button-join {
  border: 1px solid rgb(var(--color-base-text-1)); 
  padding: var(--level2); 
  padding-left: var(--level2); 
  padding-right: var(--level2); 
  padding-top: var(--level1); 
  padding-bottom: var(--level1); 
  font-size: var(--micro);
  letter-spacing: 2px;
  font-family: var(--tertiary-font-family);
}

.menu-drawer__menu-link.button-join:hover,
.menu-drawer__menu-link.button-join:focus {
  background: rgb(var(--color-base-text-1)); 
  color: rgb(var(--color-base-text-2)); 
}

/* .menu-drawer__menu-item--active:hover {} */

/* .js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: none;
} */



/*------------------------------------*\
  #SubMenus
\*------------------------------------*/

.menu-drawer__submenu-title[aria-expanded="true"] {
}


.menu-drawer__submenu__list {
  padding-top: var(--level6); 
}

.menu-drawer__submenu__menu-item {
  margin-bottom: var(--level3); 
  text-decoration: none;
}

.menu-drawer__submenu__menu-link {
  text-decoration: none;
  opacity: .7;
}


.menu-drawer__submenu__menu-link:hover,
.menu-drawer__submenu__menu-link:focus {
  text-decoration: none;
  opacity: 1;
}


/*------------------------------------*\
  #Utility Links
\*------------------------------------*/


.menu-drawer__utility-links {
  border-bottom: 1px solid rgb(var(--color-base-text-1));
  padding-top: var(--level6);
  background-color: rgb(var(--color-base-background-1));
  padding-left: var(--level7);
  padding-right: var(--level7);
}


.menu-drawer__menu-item.menu-drawer__menu-item--utility-link {
  margin-bottom: var(--level3);
  display: inline-block;
}

.menu-drawer__utility-links ul li:nth-child(4) a {
  margin-bottom: var(--level8);
}

.menu-drawer__utility-links ul li:nth-last-child(2) a {
  margin-bottom: var(--level8);
}


.menu-drawer__utility-links__button {
  max-width: 17.5rem;
  margin-top: var(--level1);
  padding-left: .1rem;
  padding-right: .1rem;
  margin-bottom: var(--level5);
}


.menu-drawer__utility-links__button .button__icon {
  display: block;
  height: 2rem;
  width: 3rem;
}




/*------------------------------------*\
#Header Menu (Desktop)
\*------------------------------------*/


.header__menu {
  margin-left: -1.2rem;
  display: none;
}


.header__menu {
  padding: 0 1rem;
}


@media screen and (min-width: 940px) {
  .header__menu {
      display: flex;
      width: 100%;
      max-width: 100%;
      margin-right: 0;
  }

  .header__menu__list-menu {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
  }


  .header__menu__list-menu li:nth-child(2) {
      margin-right: 30%;
  }

  .header__menu-item {
      padding: var(--level3);
      padding-top: var(--level2);
      padding-bottom: var(--level2);
      text-decoration: none;
      list-style: none;
      color: rgb(var(--color-base-text));
      transition: all var(--duration-default) ease 0s;
      background: transparent;
      border: none;
      text-transform: uppercase;
      line-height: 1;
      font-size: var(--normal);
      display: inline-block;
  }

  .header__menu-item span {
      position: relative;
  }

  .header__menu-item span:after {
      height: 2px;
      width: 100%;
      content: " ";
      background-color: black;
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0;
  }

  .header__menu-item {
      position: relative;
      position: relative;
      z-index: 1;
  }

  .header__menu-item:hover span:after,
  .header__menu-item:focus span:after {
      opacity: 1;
  }

}

.header__menu-item svg {
  position: fixed;
  z-index: -999;
  opacity: 0;
  display: none;
}

.header__menu-item::-webkit-details-marker {
  list-style: none;
}


.header__menu-item span {
  transition: text-decoration var(--duration-short) ease;
}

.header__menu-item span {
  position: relative;
  display: inline-block;
}

@media screen and (min-width: 940px) {

  .header__actions-menuspan:after,
  .header__menu-item:focus span:after {
      width: 100%;
  }

}


.header__active-menu-item {
  transition: text-decoration-thickness var(--duration-short) ease;
  color: rgb(var(--color-foreground));
}


.header__menu__list-menu .header__cart-button__text {
    position: relative;
    opacity: 1; 
    z-index: 0;
    left: 0;   
} 



/*------------------------------------*\
  #Header Action Menus
\*------------------------------------*/

@media only screen and (min-width: 940px) {

  .header__actions-menu {
      display: flex;
      width: 100%;
      max-width: 87%;
      margin-right: 0;
      min-width: 26rem;
      grid-area: cart-drawer;
      justify-self: flex-end;
      position: relative;
  }

}



/*------------------------------------*\
  #Header Sub Menus
\*------------------------------------*/

@media only screen and (min-width: 940px) {

  .header__submenu {
      transition: all var(--duration-default) cubic-bezier(0.16, 1, 0.3, 1);
      background-color: rgb(var(--color-base-background-1));
      width: 100vw;
      max-width: none;
      position: absolute;
      left: 0;
      border-top: 1px solid rgb(var(--color-base-text));
      border-bottom: 1px solid rgb(var(--color-base-text));
      z-index: 0;
      transform: translateY(-120vh);
  }

  .header__submenu__inner {
      flex-direction: row;
      display: flex;
      padding-top: var(--level3);
      padding-bottom: var(--level3);
      width: 100%;
      margin-right: auto;
      margin-left: auto;
  }

  .header__submenu--shop .header__submenu__inner {
      display: grid;
      grid-template-columns: 1.6fr 1.15fr;
      grid-template-areas: 'menu collections';
  }

  .header__submenu--shop .header__submenu__featured-collections {
      width: 100%;
      max-width: 100%;
      grid-area: collections;
      min-width: 14rem;
      padding-top: var(--level1);
      padding-right: var(--level3);
      margin-right: 0;
      margin-left: auto;
  }

  .header__submenu--shop .header__submenu__list-menu {
      grid-area: menu;
  }


  .header__submenu[aria-hidden="true"] {
      opacity: 0;
      pointer-events: none;
      animation: headerDropDownClose .2s ease-in-out forwards;
  }

  .header__submenu[aria-hidden="true"].preload {
      visibility: hidden;
      opacity: 0;
  }

  .header__submenu[aria-hidden="false"] {
      opacity: 1;
      pointer-events: all;
      top: 5.05rem;
      animation: headerDropDownOpen .4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }

  .header__submenu__list-menu {
      position: relative;
      display: flex;
      flex-direction: row;
      padding-left: var(--level3);
  }

  .header__submenu__list-item {
      display: block;
      padding-left: 0;
      padding-bottom: 0;
      text-transform: uppercase;
      margin-right: var(--level7);
      padding-right: var(--level1);
      padding-top: var(--level2);
      font-size: var(--h4);
      margin-bottom: var(--level1);
      font-weight: normal;
      letter-spacing: var(--letter-spacing-2);
  }

  .header__childmenu {
      margin-right: var(--level3);
  }


  .header__childmenu__list-menu {
      display: grid;
      flex-direction: column;
      padding-left: 0;
  }

  .header__childmenu__list-item {
      font-size: var(--h5);
      color: rgb(var(--color-base-link));
      text-transform: capitalize;
      text-decoration: none;
      padding-top: var(--level1);
  }

  .header__childmenu__list-item:hover,
  .header__childmenu__list-item:focus {
      color: rgb(var(--color-base-text));
      text-decoration: underline;
  }



  @keyframes headerDropDownOpen {
      0% {
          opacity: 0;
          transform: translateY(-120vh);
      }

      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }

  @keyframes headerDropDownClose {
      0% {
          opacity: 1;
          transform: translateY(0);
      }

      100% {
          opacity: 1;
          transform: translateY(-120vh);
      }
  }
}

@media only screen and (min-width: 1300px) {
  .header__actions-menu {
      max-width: 31rem;
  }

  .header__submenu__inner {
      padding-top: var(--level3);
      padding-bottom: var(--level4);
  }

  .header__submenu--shop .header__submenu__featured-collections {
      max-width: 35rem;
      padding-right: var(--level1);
  }

  .header__childmenu__list-item {
      margin-bottom: var(--level2);
  }
}