/*------------------------------------*\
  #Blog Nav
\*------------------------------------*/

.blog-nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

@media screen and (min-width: 940px) {
    .blog-nav {
        margin-top: -8rem;
        top: 8rem;
        position: relative;
        margin-bottom: 8rem;
    }

}

.blog-nav__inner {
    display: flex;
    justify-content: space-between;
    gap: var(--level5);
}

@media screen and (min-width: 940px) {
    .blog-nav__inner {
        max-width: 60rem;
    }
}

.blog-nav__item {
    flex: 1;
    align-items: center;
    display: flex;
}

.blog-nav__link {
    text-decoration: none;
    font-size: var(--normal);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    position: relative;
    transition: all 0.2s ease-in;
    padding-top: var(--level6);
    padding-bottom: var(--level6);
    display: block;
    padding-left: var(--level4);
    padding-right: var(--level4);
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: relative;
}

@media screen and (min-width: 940px) {
    .blog-nav__link {
        font-size: var(--h3);
    }
}

.blog-nav__link:after {
    content: ' ';
    width: 100%;
    height: 4px;
    bottom: -0.15rem;
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgb(var(--color-base-background-2));
    transition: all 0.1s ease-in;
    opacity: 0;
    text-align: center;
}

.blog-nav__link:hover,
.blog-nav__link:focus,
.blog-nav__link.is-current {
    color: rgb(var(--color-base-background-2));
}

.blog-nav__link:hover:after,
.blog-nav__link:focus:after,
.blog-nav__link.is-current:after {
    opacity: 1;
}