/*------------------------------------*\
    #Article Card
\*------------------------------------*/


@media screen and (max-width: 749px) {
  .articles-wrapper .article {
    width: 100%;
  }
}


.article-card {
  width: 100%;
}

.article-card__image {
  border-radius: 30px;
  margin-bottom: var(--level5);
  overflow: hidden;
  padding-bottom: 125%;
  position: relative;
  width: 100%;
}


.article-card__image-wrapper>a {
  display: block;
}


.article-card__image,
.article-card__image {
  border: 2px solid rgb(var(--color-base-text-2));
}

.article-card__image-wrapper:hover .article-card__image,
.article-card__image-wrapper:focus .article-card__image {
  border: 2px solid black;
}



/*------------------------------------*\
    #Information
\*------------------------------------*/


.article-card__information {
  align-items: center;
  color: rgb(var(--color-base-text));
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--level10);
  text-decoration: none;
}

.article-card__information:hover .article-card__heading,
.article-card__information:focus .article-card__heading {
  border-bottom: 2px solid black;
}

.article-card__information:hover .article-card__heading,
a .article-card__information:focus .article-card__heading {
  background-color: #F9EFB2;
}

.article-card__heading {
  border-bottom: 2px solid transparent;
  font-size: var(--h3);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--level1);
  padding-right: var(--level1);
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 700px) {
  .article-card__heading {
    font-size: var(--h4);
  }
}

@media only screen and (min-width: 940px) {
  .article-card__heading {
    font-size: var(--h3);
  }
}



.article-card__price {
  font-size: var(--h4);
  text-transform: capitalize;
}

@media only screen and (min-width: 700px) {
  .article-card__price {
    font-size: var(--h5);
  }
}




.article-card__date-published {
  text-align: center;
  width: 100%;
}


@media screen and (min-width: 700px) {
  .blog-articles {
    display: grid;
    grid-template-columns:1fr 1fr;
    column-gap: 3rem;
  }

  .blog-articles .article-card {
    flex-basis: calc(50% - 2rem);
  }
}


@media screen and (min-width: 940px) {
  .blog-articles {
    grid-template-columns:1fr 1fr 1fr;
    column-gap: 6rem; 
    } 
 
}