/*------------------------------------*\
    #Header
\*------------------------------------*/


[data-sticky-header] {
    z-index: 2;
}


.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}


.header {
    position: relative;
    transition: all .6s var(--default-easing);
}

@media screen and (min-width: 940px) {
    .header {
        border-bottom: 0;
    }
}

header.menu-open {
    background-color: rgb(var(--color-base-background-2));
}

.header__inner {
    align-items: center;
    display: grid;
    grid-template-areas: 'menu  heading cart-drawer';
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    margin: auto;
    padding-bottom: var(--level1);
    padding-top: var(--level1);
}

@media screen and (min-width: 940px) {
    .header__inner {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: var(--level7);
        padding-top: var(--level7);
    }
}

@media screen and (min-width: 1280px) {
    .header__inner {
        max-width: 100%;
    }
}

@media screen and (min-width: 1800px) {
    .header__inner {
        max-width: 115rem;
    }
}

.header header-drawer {
    justify-self: start;
}

.header *[tabindex='-1']:focus {
    outline: none;
}

.header__inline-menu {
    display: none;
}

@media screen and (min-width: 940px) {
    .header__inline-menu {
        display: flex;
    }
}

/*------------------------------------*\
    #Header Heading
\*------------------------------------*/


.header__heading {
    grid-area: heading;
    justify-self: center;
    line-height: 0;
    margin: 0;
    z-index: 2;
}

.header__heading-link  {
    display: block;
}

@media screen and (min-width: 940px) {
    .header__heading {
        position: absolute;
    }
}

.header__heading-logo {
    height: auto;
    width: 100%;
}

.header__logo {
    fill: rgb(var(--color-base-text-1));
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    transition: all var(--duration-default) var(--default-easing);
    width: 100%;
    z-index: 0;
}

.header__logo svg {
    height: 100%; 
    width: 100%; 
}

.menu-open .header__logo {
    fill: rgb(var(--color-base-text-2));
}

@media screen and (min-width: 940px) {
    .header__logo {
        position: relative;
    }

}


.header__localization {
    display: none;
}





/*------------------------------------*\
    #Header Drawer Blocker
\*------------------------------------*/

.header-drawer-blocker {
    background: rgb(var(--color-base-background-1));
    border-bottom: 1px solid rgb(var(--color-base-text-2));
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .2s ease-in-out;
    width: 100%;
    z-index: 1;
}

.menu-open .header-drawer-blocker {
    background: rgb(var(--color-base-background-2));
}

@media screen and (min-width: 940px) {
    header-drawer {
        display: none;
    }
}





/*------------------------------------*\
    #Header Icons
\*------------------------------------*/

.header__icons {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

@media screen and (max-width: 989px) {
    menu-drawer~.header__icons .header__icon--account {
        display: none;
    }
}

.header__icon span {
    height: 100%;
}

.header__icon:hover {
    cursor: pointer;
}

.header__icon .icon {
    fill: var(--color-base-text);
    vertical-align: middle;
}

.header__icon svg {
    height: 100%;
    width: 100%;
}





/*------------------------------------*\
    #Header Icons - Cart Toggle
\*------------------------------------*/


.header__icon--cart {
    background-color: transparent;
    border: 0;
    color: black;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    margin-right: calc(-1 * var(--level3));
    padding: 0;
    position: relative;
    top: -.15rem;
    transition: all var(--duration-default) ease-in-out;
    width: 4rem;
    z-index: 1;
}


.header__icon svg {
    height: 100%;
    width: 100%;
}

.header.is-product-page .header__icon--cart {
    color: black;
}

.header.menu-open .header__icon--cart {
    color: black;
}


@media only screen and (min-width: 940px) {
    .header__icon--cart  {
        display: none;
    }
}


.header__cart-button {
    background: transparent;
    border: none;
    color: rgb(var(--color-base-text-1));
    cursor: pointer;
    display: inline-block;
    font-size: var(--h4);
    height: auto;
    line-height: 1;
    list-style: none;
    margin-right: 0;
    padding: var(--level3);
    padding-bottom: var(--level1);
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    transition: all var(--duration-default) ease 0s;
    width: auto;
}

@media only screen and (min-width: 940px) {
    .header__cart-button  {
        font-size: var(--h5);
        padding-top: var(--level1);
    }
}



.header__cart-button:hover,
.header__cart-button:focus {
    text-decoration: underline;
}


/* 
.header__icon--cart.is-open {
    opacity: .5;
}

@media screen and (min-width: 940px) {
    .header__icon--cart.is-open {
        opacity: 1;
    }
} */




.header__icon--cart .icon {
    color: rgb(var(--color-base-text-2));
    stroke: rgb(var(--color-base-text-2));
    height: 1.4rem;
    width: 2rem;
}

.menu-open .header__icon--cart .icon {
    color: rgb(var(--color-base-text-2));
    stroke: rgb(var(--color-base-text-2));
}





/*------------------------------------*\
    #Header Cart - Cart Count
\*------------------------------------*/

.cart-count-bubble:empty {
    display: none;
}

.cart-count-bubble {
    align-items: center;
    background-color: rgb(var(--color-base-background-2));
    bottom: 15%;
    border-radius: 100%;
    color: #fff;
    display: flex;
    font-size: var(--primary-font-family);
    font-size: var(--mini);
    height: 1.15rem;
    justify-content: center;
    margin: auto;
    padding-top: 1px;
    position: absolute;
    right: 25%;
    text-decoration: none !important;
    width: 1.15rem;
}

.cart-count-bubble.is-hidden {
    opacity: 0;
}

.cart-count-bubble span {
    display: flex;
    height: 100%; 
    position: absolute;
}

.header__cart-button {
    align-items: center;
    display: flex;
}


.header__cart-button .cart-count-bubble {
    bottom: 0;
    font-size: var(--micro);
    height: 1.25rem;
    line-height: 1;
    margin-right: 0;
    padding-top: .2rem;
    right: -.5rem;
    top: 0;
    width: 1.25rem;
}

/* @media screen and (max-width: 989px) {
    menu-drawer ~ .header__icons .header__icon--account {
      display: none;
    }
  }

.header__icon {
   list-style-type: none;
  }

 */