

/*------------------------------------*\
    #LWD Builder
\*------------------------------------*/


.lwd-builder {
  background-color: rgb(var(--color-base-background-2));
}

.lwd-builder__inner {
    padding-top: var(--level10); 
}


.lwd-builder__heading {
    text-align: center; 
    font-size: var(--h2); 
    font-family: var(--secondary-font-family); 
    text-transform: uppercase; 
    margin-bottom: var(--level9); 
}

@media screen and (min-width: 940px) {
  .lwd-builder__heading {
    margin-bottom: var(--level7);
  }
}

.lwd-builder__heading em {
  text-align: italic;
  display: block; 
  text-transform: lowercase;
}


.lwd-combinations-container {
    position: relative;
    margin-bottom: var(--level8);
    width: 100%;  
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 940px) {
  .lwd-combinations-container {
    position: relative;
    margin-bottom: var(--level8);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 31rem;
  }
}


.lwd-combinations-container .collection-item.active {
  z-index: 1;
}

lwd-slideshow {
  display: block;
  width: 100%;
}

.lwd-combinations-container__option__image {
  position: relative;
}

.lwd-combinations-container__option__image__inner {
  padding-bottom: 60%;
}

.lwd-combinations-container__option__image.active,
.lwd-builder-option_image.active {
    z-index: 1;
}


.lwd-combinations-container__tops,
.lwd-combinations-container__bottoms {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.lwd-builder__body {
  display: flex; 
  flex-direction: column; 
  width: 100%;
}


@media (min-width: 940px) {
  .lwd-builder__body {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}



.lwd-combinations-container__bottoms .lwd-combinations-container__option__image__inner {
  padding-bottom: 120%;
}






/*------------------------------------*\
    #LWD Builder Controls
\*------------------------------------*/


.lwd-builder__controls {
  display: grid;
  flex-direction: row;
  gap: var(--level4); 
  grid-template-columns: 1fr 1fr;
}


@media screen and (min-width: 940px) {
  .lwd-builder__controls {
    max-width: 33rem;
    display: flex;
    width: 100%; 
    justify-self: center; 
    flex-direction: column;
  }
}

.lwd-builder-option__images {
    position: relative;
    overflow: hidden;
    width: 100%; 
    padding-bottom: 80%; 
}

@media screen and (min-width: 940px) {
  .lwd-builder-option__images {
    order: 1;
    padding-bottom: 35%; 
    max-width: 15rem;
  }
}

.lwd-builder-option__image {
    position: absolute;
    width: 100%;
    top: 0; 
    left: 0; 
}

.lwd-builder-option__image.active {
  z-index: 1;
}

.lwd-builder-option__image__inner {
  padding-bottom: 80%;
}

@media screen and (min-width: 940px) {
  .lwd-builder-option__image__inner {
    padding-bottom: 70%;
  }
}

.lwd-builder__controls__heading {
  font-size: var(--h5);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 940px) {
  .lwd-builder__controls__heading {
    order: 2;
    text-align: left;
  font-size: var(--h4);
  }
}

.lwd-builder__controls__heading span {
  font-weight: normal;
  display: block;
}

.lwd-builder__controls__cta {
  text-align: center; 
  grid-column: span 2;
}


.lwd-builder__controls__tops,
.lwd-builder__controls__bottoms {
  background-color: white;
  padding: var(--level4);
  margin-bottom: var(--level5);
}

@media screen and (min-width: 940px) {
  .lwd-builder__controls__tops,
  .lwd-builder__controls__bottoms {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--level8);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 940px) {
  .lwd-builder__controls__bottoms {
    margin-bottom: var(--level8)
  }
}


/*------------------------------------*\
    #LWD Builder Swiper Buttons
\*------------------------------------*/


.lwd-builder .swiper-button-next,
.lwd-builder .swiper-button-prev {
  color: rgb(var(--color-base-text-1)); 
}

.lwd-builder .swiper-button-next:after,
.lwd-builder .swiper-button-prev:after {
  content: none; 
 }

 @media screen and (min-width: 940px) {
  .lwd-builder .swiper-button-next,
  .lwd-builder .swiper-button-prev {
    width: 2.5rem;
  }
 }

 .lwd-builder .swiper-button-next svg {
  transform: scaleX(-100%); 
 }

 .lwd-builder .swiper-button-next {
  margin-right: var(--level6); 
 }

 @media screen and (min-width: 940px) {
  .lwd-builder .swiper-button-next {
    margin-right: var(--level3); 
   }
 }

 .lwd-builder .swiper-button-prev {
  margin-left: var(--level6); 
 }

 @media screen and (min-width: 940px) {
  .lwd-builder .swiper-button-prev {
    margin-left: var(--level3); 
   }
 }