/*------------------------------------*\
    #Contact Form
\*------------------------------------*/

.contact-form {
  position: relative;
  padding-bottom: 0;
}

.contact-form__inner {
  padding-top: var(--level10);
  padding-left: var(--level7);
  padding-right: var(--level7);
  padding-bottom: var(--level10);
}

@media screen and (min-width: 700px) {
  .contact-form__inner {
    max-width: 40rem;
    padding-bottom: calc(var(--level10) + var(--level10));
  }
}


@media screen and (min-width: 940px) {
  .contact-form__inner {
    max-width: 40rem;
  }
}


.contact-form__bg {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.contact-form__heading {
  text-align: center;
  margin-bottom: var(--level10);
  text-transform: uppercase;
  font-size: var(--h5);
  font-family: var(--secondary-font-family);
}

@media screen and (min-width: 940px) {
  .contact-form__heading {
    font-size: var(--h1);
  }
}

@media screen and (min-width: 700px) {
  .contact-form textarea {
    min-height: 25rem;
  }
}





/*------------------------------------*\
    #States
\*------------------------------------*/

.contact-form__states {
  color: rgb(var(--color-base-text-2));
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.7); 
}


.contact-form__states__heading {
  font-size: var(--h3);
}


.contact-form__states__errors {
  background-color: rgb(var(--color-error));
  display: block;
  margin-top: var(--level3); 
  padding: var(--level3);
  padding-bottom: var(--level5);
  font-size: var(--h6);
  text-shadow: none; 
  text-align: center;
  border-radius: 12px;
}






/*------------------------------------*\
    #Submit Button
\*------------------------------------*/

.button--contact-form {
  background-color: rgb(var(--color-base-background-1));
  color: rgb(var(--color-base-text-1));
}

.button--contact-form:hover,
.button--contact-form:focus {
  color: rgb(var(--color-base-text-1));
}

.button--contact-form .button__icon {
  height: 2rem;
  opacity: 0;
  padding-left: var(--level2);
  position: absolute;
  transition: all .2s ease-in-out;
  width: 5rem;
}

.button--contact-form .button__icon svg {
  height: 100%;
  width: 100%;
}

.button--contact-form .button__text {
  transition: all .2s ease-in-out;
}

.button--contact-form:focus .button__icon,
.button--contact-form:hover .button__icon {
  opacity: 1;
  transform: translateX(3rem);
}

.button--contact-form:focus .button__text,
.button--contact-form:hover .button__text {
  transform: translateX(-1.75rem);
}

.button--contact-form.is-submitted {
  background-color: rgb(var(--color-base-background-2));
  color: rgb(var(--color-base-text-2));
  border-color: rgb(var(--color-base-text-2));
  margin-bottom: var(--level4); 
}