/*------------------------------------*\
    #FAQ Preview
\*------------------------------------*/


.faq-preview-section {
    margin-bottom: 0; 
    padding-bottom: 0;
}

@media screen and (min-width: 940px) {
    .faq-preview__inner {
    display: grid;
    grid-template-columns:  1fr 1fr;
    }
}


.faq-preview__image {
    position: relative;
    overflow: hidden;
    background-color: rgb(var(--color-base-background-3));
}

.faq-preview__image__inner {
    padding-bottom: 50%; 
    position: relative;
}
@media screen and (min-width: 940px) {
    .faq-preview__image__inner {
       height: 100%; 
        position: relative;
        padding-bottom: 100%; 
    }

}
.faq-preview__questions {
    background-color: rgb(var(--color-base-background-2));
}

@media screen and (min-width: 940px) {
    .faq-preview__questions {
        display: flex;
        align-items: center;
    }
}

.faq-preview__questions__inner {
    padding-top: var(--level10);
    padding-bottom: var(--level10);
    padding-left: var(--level7);
    padding-right: var(--level7);
}

@media screen and (min-width: 940px) {
    .faq-preview__questions__inner {
        padding-left: var(--level10);
        padding-right: var(--level10);
    }
}

.faq-preview__heading {
    text-align: center;
    font-size: var(--h1);
    font-family: var(--secondary-font-family);
    margin-bottom: var(--level10);
}




/*------------------------------------*\
    #Questions List
\*------------------------------------*/

.faq-preview__questions-list {
    margin-bottom: var(--level10);
}

@media screen and (min-width: 1800px) {
    .faq-preview__questions-list {
        margin-bottom: calc(var(--level10) + var(--level4));
    }
    
}


@media screen and (min-width: 940px) {
    .faq-preview__questions-list  {
        max-width: 60rem; 
        margin-left: auto; 
        margin-right: auto; 
    } 
 }
 

.faq-preview-item {
    border-bottom: 1px solid rgb(var(--color-base-text-1));
    font-size: var(--h5);
    overflow: hidden;
    position: relative;
}

@media screen and (min-width: 1800px) {
   .faq-preview-item   {
    font-size: var(--h4); 
   } 
}


.faq-preview-item__question {
    display: flex;
    padding-top: var(--level4); 
    padding-bottom: var(--level4); 
    padding-left: var(--level4); 
    padding-right: var(--level10); 
    justify-content: space-between;
    align-items: center;
}

.faq-preview-item__question:hover .faq-preview-item__icon svg {
    transform: rotate(180deg); 
    position: relative;
}



@media screen and (min-width: 940px) {
    .faq-preview-item__question {
        padding-top: var(--level6); 
        padding-bottom: var(--level6); 
        padding-left: var(--level6); 
    }
}


@media screen and (min-width: 1800px) {
    .faq-preview-item__question {
        padding-top: var(--level8);
        padding-bottom: var(--level8);
    }
}


.faq-preview-item__answer {
    padding-left: var(--level4); 
    padding-right: var(--level4); 
    transition: all .5s ease-in-out; 
}

@media screen and (min-width: 940px) {
    .faq-preview-item__answer {
        padding-left: var(--level6); 
    }
}

.faq-preview-item__icon {
    flex-basis: auto;
    width: 1.25rem; 
    height: 1.25rem; 
    position: absolute;
    right: var(--level3); 
    transition: all .3s ease-in-out;
}

.faq-preview-item__icon svg {
    width: 100%; 
    height: 100%; 
    transition: all .3s ease-in-out;
}

.faq-preview-item summary .close-icon,
.faq-preview-item summary[aria-expanded="false"] .close-icon {
    display: none;
}

.faq-preview-item summary[aria-expanded="true"] .open-icon {
    display: block;
}

.faq-preview-item summary[aria-expanded="true"] .open-icon {
    display: none;
}

.faq-preview-item summary[aria-expanded="true"] .close-icon {
    display: block;
}

.faq-preview__cta {
    text-align: center;
}

.faq-preview-item__answer p {
    padding-bottom: var(--level7);
    margin-bottom: 0; 
}