/*------------------------------------*\
    #About Process
\*------------------------------------*/


.about-process__inner {
    padding-top: var(--level10); 
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
}

@media screen and (min-width: 700px) {
    .about-process__inner {
        column-gap: var(--level7);
    }
}

@media screen and (min-width: 940px) {
    .about-process__inner {
        column-gap: var(--level8);
    }
}


.about-process__heading {
    text-transform: uppercase;
    font-family: var(--secondary-font-family);
    font-size: var(--h2);
    grid-column: 1 / -1; 
    text-align: right;
    grid-row: 1 / 2;
    align-self: flex-end;
    justify-self: flex-end;
}

@media screen and (min-width: 700px) {
    .about-process__heading {
        font-size: var(--kilo);
        text-align: left;
        grid-column: 1 / 5;
        align-self: flex-start;
        justify-self: flex-start;
        padding-top: var(--level8); 
    }
}

@media screen and (min-width: 940px) {
    .about-process__heading {
        font-size: var(--mega);
    }
}

.about-process__heading p {
    line-height: 1.15;
    margin-bottom: 0;
}

.about-process__heading em {
    text-transform: lowercase;
    display: block;
}




@media screen and (min-width: 700px) {
    .about-process__heading em {
        display: inline;
    }
}

.about-process__body {
    grid-column: 5 / -1; 
    grid-row: 2 / 3;
    font-size: var(--h6);
    text-align: right;
    z-index: 2;
    margin-bottom: var(--level2);
}

@media screen and (min-width: 700px) {
    .about-process__body {
        grid-column: 1 / 6;
        grid-row: 3 / 4;
    }
}

@media screen and (min-width: 700px) {
    .about-process__body {
        grid-column: 1 / 7;
        grid-row: 3 / 4;
        max-width: 36rem;
        justify-self: flex-end;
    }

    .about-process__body p {
        font-size: var(--h5);
    }
}

@media screen and (min-width: 940px) {
    .about-process__body p {
        font-size: var(--h4);
    }
}

.about-process__main-image {
    position: relative;
    z-index: 1;
    grid-column: 1 / 8;
    grid-row: 1 / 3;
    max-width: 90%; 
    margin-bottom: var(--level10);
}

@media screen and (min-width: 700px) {
    .about-process__main-image {
        grid-column: 5 / 9;
        right: -1.5rem; 
        position: relative;
    }
}

.about-process__main-image__inner {
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 160%;
    position: relative;
}

@media screen and (min-width: 700px) {
    .about-process__main-image__inner {
        padding-bottom: 100%; 
    }
}

.about-process__main-image__inner:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--color-base-background-2));
    content: '';
    z-index: 0;
    right: -1.5rem;
    bottom: -1.5rem; 
}

@media screen and (min-width: 700px) {
    .about-process__main-image__inner:before {
       display: none;
    }

    .about-process__main-image {
        position: initial;
    }

    .about-process__main-image:before {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(var(--color-base-background-2));
        content: '';
        width: 55%;
        height: 80%;
        top: 6rem;
        right: 0;
        left: auto;
        z-index: -1;
    }
}

.about-process__secondary-image {
    z-index: 0;
    position: relative;
    grid-column: 1 / 7;
    grid-row: 1 / 3;
    display: none; 
}

@media screen and (min-width: 700px) {
    .about-process__secondary-image {
        display: block;
        grid-column: 7 / -1;
        grid-row: 1 / 4;
        z-index: 1;
        margin-top: var(--level10);
    }
}

@media screen and (min-width: 940px) {
    .about-process__secondary-image__inner {
        padding-bottom: 120%;
    }

}





/*------------------------------------*\
    #Card
\*------------------------------------*/

.about-process__card {
    grid-column: 1 / -1;
    grid-row: 3 / 3;
    background-color: #C3C0B9;
    padding: var(--level7);
    padding-bottom: var(--level5);
}

@media screen and (min-width: 700px) {
    .about-process__card {
        grid-column: 3 / 11;
        grid-row: 7 / 7;
        z-index: 2;
        margin-top: var(--level10);
        display: none; 
    }
}

/* @media screen and (min-width: 940px) {
    .about-process__card {
        grid-column: 7 / -1;
        margin-top: -2rem
    }
} */

.about-process__card-body {
    font-size: var(--h6);
}

