
/*------------------------------------*\
    #About Founder
\*------------------------------------*/

.about-founder {
    background-color: rgb(var(--color-base-background-2));
}

.about-founder__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: var(--level8); 
}

@media screen and (min-width: 940px) {
    .about-founder__inner {
        padding-top: var(--level10);
        grid-template-columns: repeat(12, 1fr);
    }
}

.about-founder__bio {
    background-color: white; 
    padding: var(--level6); 
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (min-width: 940px) {
    .about-founder__bio {
        grid-column: 5 / -1;
        grid-row: 1 / 2;
        z-index: 1;
        margin-top: calc(var(--level10) + var(--level5));
        padding-left: var(--level10);
        padding-top: var(--level8);
        padding-bottom: 0; 
        max-width: 100%;
        margin-right: 0;
    }
}

.about-founder__body {
    margin-bottom: 0;
    font-size: var(--h6);
}

@media screen and (min-width: 700px) {
    .about-founder__body {
        font-size: var(--h5);
    }
}

@media screen and (min-width: 940px) {
    .about-founder__body {
        padding-left: var(--level10);
        padding-right: var(--level8);
        font-size: var(--h4);
        max-width: 44rem;
        right: 0;
        position: relative;
        margin-right: 0;
        left: auto;
        margin-left: auto;
    }
}

.about-founder__heading {
    font-family: var(--secondary-font-family);
    font-size: var(--h2);
    text-align: left;
    text-transform: uppercase;
}

.about-founder__heading p {
    margin-bottom: 0;
}

.about-founder__heading em {
    text-transform: lowercase;
}

@media screen and (min-width: 700px) {
    .about-founder__heading {
        font-size: var(--kilo);
        grid-column: 1 / -1;
        grid-row: 1 / 2;  
        text-align: left;
    }
}

.about-founder__images {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


@media screen and (min-width: 940px) {
    .about-founder__images {
        grid-column: 1 / 9;
        grid-row: 1 / 2;
        z-index: 0;
        max-width: 53rem;
    }
}


.about-founder__main-image {
    position: relative;
    grid-column: 1 / 10; 
    margin-bottom: var(--level4);
    grid-row: 1 / 2;
    z-index: 0; 
}

.about-founder__main-image__inner {
    padding-bottom: 140%;
}

@media screen and (min-width: 940px) {
    .about-founder__main-image__inner {
        padding-bottom: 110%;
    }
}



.about-founder__secondary-image {
    position: relative;
    grid-column: 7 / -1;
    grid-row: 1 / 2;
    z-index: 1;
    align-self: end;
    margin-bottom: -1rem; 
}

@media screen and (min-width: 940px ) {
    .about-founder__secondary-image {
        display: none;
    }
}

.about-founder__secondary-image__inner {
    padding-bottom: 100%;
    position: relative;
}