
/*------------------------------------*\
    #Featured Collection
\*------------------------------------*/

.featured-collection custom-slideshow {
    display: block;
    width: 100%; 
}

.featured-collection__header {
    margin-bottom: var(--level6); 
}
.featured-collection__heading {
    text-transform: uppercase;
    font-family: var(--secondary-font-family); 
    font-size: var(--h1);
    text-align: center;
    margin-bottom: var(--level1); 
}

.featured-collection__description {
    font-size: var(--h6); 
    text-align: center;
}

@media screen and (min-width: 700px) {
    .featured-collection__products-list {
        display: flex;
        width: 100%; 
        gap: var(--level10);
    }

    .featured-collection__products-list.no-slideshow  {
        max-width: var(--max-width-large);
        margin-left: auto; 
        margin-right: auto; 
    }
    
}


@media screen and (min-width: 700px) {
    .featured-collection__products-list.no-slideshow  .featured-collection__products__item {
        width: 100%;
    }
}





/*------------------------------------*\
    #Swiper
\*------------------------------------*/


.featured-collection .swiper-container {
    max-width: 65%;
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: var(--level6); 
}


@media screen and (min-width: 700px) {
    .featured-collection .swiper-container {
        max-width: 80%;
    }
}

@media screen and (min-width: 940px) {
    .featured-collection .swiper-container {
        max-width: 100%;
        margin-left: 0; 
        margin-right: 0; 
        max-width: auto;
    }

    .featured-collection .swiper-wrapper {
    }
}



.featured-collection .swiper-pagination.swiper-pagination-bullets {
    bottom: -1.5rem; 
    z-index: 0;
}

.featured-collection .swiper-pagination-bullet {
    border: 2px solid rgb(var(--color-base-text-1)); 
    width: 15px;
    height: 15px;
    background-color: white;
    opacity: 1;
}

.featured-collection .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: rgb(var(--color-base-text-2));
}

.featured-collection .swiper-button-next:after,
.featured-collection .swiper-button-prev:after {
    content:"";

}

.featured-collection .swiper-button-next,
.featured-collection .swiper-button-prev {
    bottom: -2rem; 
    top: auto; 
    position: absolute;
    color: rgb(var(--color-base-text-1));
    z-index: 0; 
}

.featured-collection .swiper-button-next svg,
.featured-collection .swiper-button-prev svg {
    width: 100%;
}
.featured-collection .swiper-button-next {
    right: -3rem; 
    width: 3.5rem; 
    left: auto; 
}

.featured-collection .swiper-button-prev {
    left: -3rem; 
    width: 3.5rem; 
    right: auto; 
}