/*------------------------------------*\
    #Image Video Banner  
\*------------------------------------*/

image-video-banner {
  display: block;
}

.image-banner-container {
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: rgb(var(--color-base-background-2));
}

.image-banner {
  position: relative;
  width: 100%;
}

.image-banner__inner {
  position: relative;
  width: 100%;
  padding-bottom: 90%;
  margin-bottom: var(--level10);
}


@media only screen and (min-width: 940px) {
  .image-banner__inner {
    margin-bottom: calc(var(--level10) * 2);
  }
}



@media screen and (min-width: 700px) {
  .image-banner__inner {
    min-height: 50rem;
    padding-bottom: 60%;
  }
}


@media screen and (min-width: 1280px) {
  .image-banner__inner {
    min-height: 42rem;
    padding-bottom: 48%;
  }
}

@media screen and (min-width: 2000px) {
  .image-banner__inner {
    min-width: 36rem;
    padding-bottom: 42%;
  }
}

.image-banner a:hover .image-banner__cta,
.image-banner a:focus .image-banner__cta {
  opacity: 1;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.image-banner__media {
  width: 100%;
  height: 100%;
}

.image-banner video {
  opacity: 0;
}

.image-banner video.is-loaded {
  animation: fade-in .8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.image-banner__media__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-banner__content {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}