/*------------------------------------*\
    #Brand Intro
\*------------------------------------*/


.brand-intro-section {
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(var(--color-base-background-1));
}


.brand-intro__inner {
    padding-top: var(--level10);
}

@media screen and (min-width:700px) {
    .brand-intro__inner {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        padding-bottom: var(--level10);
    }
}

@media screen and (min-width:940px) {
    .brand-intro__inner {
        padding-top: calc(var(--level10) + var(--level8));
        padding-bottom: calc(var(--level10) + var(--level8));
    }
}


.brand-intro__image {
    width: 100%;
}


@media screen and (min-width:700px) {
    .brand-intro__image {
        border-bottom: 0;
        width: 50%;
    }
}

@media screen and (min-width:940px) {
    .brand-intro__image__inner {
        max-width: 90%;
        margin-right: 0;
        margin-left: auto;
    }
}


@media screen and (min-width:1280px) {
    .brand-intro__image__inner {
        max-width: 80%;
    }
}

.brand-intro__image-wrapper {
    padding-bottom: 110%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

@media screen and (min-wivdth:700px) {
    .brand-intro__image-wrapper {
        padding-bottom: 148%;
    }
}

@media screen and (min-width:940px) {
    .brand-intro__image-wrapper {
        padding-bottom: 140%;
    }
}

.brand-intro__image-wrapper img {
    width: 100%;
    height: 101%;
    object-fit: cover;
    top: -1%;
    bottom: 0;
    object-position: center;
    position: absolute;
}





/*------------------------------------*\
    #Copy
\*------------------------------------*/


.brand-intro__copy {
    text-align: center;
}

@media screen and (min-width:700px) {
    .brand-intro__copy {
        text-align: left;
        width: 50%;
    }
}

.brand-intro__copy__inner {
    padding-top: var(--level9);
    padding-bottom: var(--level8);
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}


@media screen and (min-width:700px) {
    .brand-intro__copy__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        max-width: 100%;
        padding-right: var(--level9);
    }
}

@media screen and (min-width: 940px) {
    .brand-intro__copy__inner {
        padding-top: var(--level9);
        padding-bottom: var(--level8);
        padding-right: var(--level4);
        padding-left: var(--level4);
        max-width: 44rem;
        margin-right: auto;
        margin-left: auto;
    }
}


.brand-intro__copy__header {
    position: relative;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    z-index: 1;
    margin-bottom: var(--level4);
}

@media screen and (min-width: 940px) {
    .brand-intro__copy__header {
        margin-bottom: calc(var(--level5) + var(--level5));
    }
}

.brand-intro__copy__heading {
    font-family: var(--secondary-font-family);
    font-size: var(--h4);
    text-align: left;
    margin-bottom: 0;
    background: rgb(var(--color-base-background-1));
    position: relative;
    z-index: 1;
    padding-right: var(--level2);
    font-weight: var(--font-weight-bold);
}

@media screen and (min-width:700px) {
    .brand-intro__copy__heading {
        font-size: var(--h4);
    }
}

@media screen and (min-width:940px) {
    .brand-intro__copy__heading {
        font-size: var(--h1);
    }
}

.brand-intro__copy__subline {
    text-transform: uppercase;
    margin-bottom: 0;
    width: auto;
    padding-left: var(--level2);
    text-align: right;
    background: rgb(var(--color-base-background-1));
    position: static;
    font-size: var(--micro);
    display: flex;
    align-items: center;
}

@media screen and (min-width:940px) {
    .brand-intro__copy__subline {
        font-size: var(--h4);
    }
}

.brand-intro__copy__subline:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    z-index: -1;
    top: 5%;
}

.brand-intro__copy__body {
    font-size: var(--normal);
    margin-bottom: var(--level9);
    max-width: 30rem;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width:700px) {
    .brand-intro__copy__body {
        font-size: var(--normal);
        max-width: 100%;
    }
}

@media screen and (min-width:940px) {
    .brand-intro__copy__body {
        font-size: var(--h3);
    }
}

.brand-intro__copy__body p {
    text-align: justify;
}

@media screen and (min-width:940px) {
    .brand-intro__copy__body p {
        line-height: 1.5;
    }
}

.brand-intro__copy__cta {
    text-transform: uppercase;
    font-size: var(--h5);
    position: relative;
    z-index: 0;
    margin-bottom: var(--level10);
}

@media screen and (min-width:700px) {
    .brand-intro__copy__cta {
        font-size: var(--micro);
    }
}

.brand-intro__copy__cta a {
    background-color: var(--color-base-accent);
    padding-left: var(--level1);
    padding-right: var(--level1);
    text-decoration: underline;
}

.brand-intro__copy__cta a:hover,
.brand-intro__copy__cta a:focus {
    text-decoration: none;
}

@media screen and (min-width:940px) {
    .brand-intro__copy__cta {
        font-size: var(--h4);
        margin-bottom: calc(var(--level9) + var(--level9));
    }
}




/*------------------------------------*\
    #Awards
\*------------------------------------*/


.brand-intro__awards {
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width:700px) {
    .brand-intro__awards {
        width: 100%;
        min-width: 100%;
    }

    .brand-intro__awards__inner {
        display: flex;
        grid-template-columns: auto;
        justify-content: center;
        gap: var(--level10);
        align-items: center;
    }
}

@media screen and (min-width:700px) {
    .brand-intro__awards__award {
        margin-bottom: var(--level2)
    }
}