

/*------------------------------------*\
    #Main Product
\*------------------------------------*/


.collection-header {
    margin-bottom: 0; 
    padding-bottom: var(--level5); 
}

.collection-header__inner {
    margin-top: calc(var(--level10) + var(--level8)); 
    text-align: center;
}

@media screen and (min-width: 940px) {
  .collection-header__inner {
     margin-top: calc(var(--level10) * 2 + var(--level2)); 
  }
}

.collection-header__heading {
  font-family: var(--secondary-font-family);
  margin-bottom: var(--level6);
  font-size: var(--h2); 
}


.collection-header__description {
  font-size: var(--h6); 
}

@media screen and (min-width: 940px) {

  .collection-header__description {
    font-size: var(--h4); 
  }
}