/*------------------------------------*\
    #Section Footer
\*------------------------------------*/

.footer {
  background-color: rgb(var(--color-base-background-2));
  border-top: 1px solid rgb(var(--color-base-text));
  color: rgb(var(--color-base-text-1))
}

.footer__inner {
  padding-left: var(--level7);
  padding-right: var(--level7);
  padding-top: var(--level8);
  padding-bottom: var(--level8);
}

@media only screen and (min-width: 700px) {
  .footer__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'newsletter newsletter newsletter'
      'links links links';
  }
}

@media only screen and (min-width: 940px) {
  .footer__inner {
    grid-template-areas:
      'badge badge badge badge'
      'links links newsletter newsletter';
    column-gap: var(--level8);
    max-width: 94rem;
    padding-left: var(--level9);
    padding-right: var(--level9);
    padding-top: calc(var(--level10) + var(--level3));
    padding-bottom: 0;
  }
}


@media only screen and (min-width: 940px) {

  .footer__content-bottom-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

}

.footer__content-bottom {
  padding-bottom: 1rem;
  padding-left: var(--level1);
  padding-right: var(--level1);
  max-width: 98rem;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 940px) {
  .footer__content-bottom {
    margin-top: -3.5rem;
    pointer-events: none;
  }
}





/*------------------------------------*\
    #Blocks
\*------------------------------------*/


.footer__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (min-width: 700px) {
  .footer__blocks {
    grid-area: links;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 940px) {
  .footer__blocks {
    flex-direction: row;
  }

  .footer__blocks .footer__block:last-child {
    margin-right: var(--level4);
  }
}



.footer__block {
  width: 45%;
  min-width: 12rem;
}


@media only screen and (min-width: 940px) {
  .footer__block {
    width: auto;
    margin-right: calc(var(--level10) + var(--level2));
  }
}


.footer__block__heading {
  text-transform: uppercase;
  font-size: var(--h6);
  letter-spacing: .75px;
}

.footer__block__heading--contact {
  text-transform: capitalize;
  margin-bottom: var(--level4);
}

@media only screen and (min-width: 940px) {
  .footer__block__heading--contact {
    text-transform: uppercase;
    font-size: var(--h4);
    margin-bottom: var(--level6);
  }
}



.footer__block__links-list {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: var(--level6);
  justify-items: left;
}

@media only screen and (min-width: 940px) {
  .footer__block__links-list {
    display: block;
  } /* Added closing brace */
}


.footer__block__links-list li:nth-child(4n) {
  margin-bottom: var(--level8);
}

@media only screen and (min-width: 940px) {
  .footer__block__links-list li:nth-child(4n) {
    margin-bottom: 0;
  }

  .footer__block__links-list li {
    margin-right: 5%;
    break-inside: avoid;
  }

  .footer__block__links-list li:nth-child(n+5) {
    /* right: -12%; */
    position: relative;
    display: block;
  }
}


.footer__block__link {
  color: rgb(var(--color-base-text));
  text-decoration: none;
  margin-bottom: var(--level1);
  display: inline-block;
  font-size: var(--h6);
  text-transform: uppercase;
}

@media only screen and (min-width: 940px) {
  .footer__block__link {
    text-transform: uppercase;
    font-size: var(--h4);
    margin-bottom: var(--level5);
  }
}


.footer__block__link:hover,
.footer__block__link:focus {
  text-decoration: underline;
}

.footer__block__link:active {
  color: var(--color-base-accent);
  text-decoration: none;
}



@media only screen and (min-width: 700px) {
  .footer__newsletter {
    grid-area: newsletter;
  }
}


.footer__block__contact .utility-links__contact__email {
  display: flex;
  align-items: center;
  margin-bottom: var(--level1);
}


.footer__block__contact .utility-links__contact__email .email__label {
  text-transform: uppercase;
  font-size: var(--h6);
}


.footer__block__contact .utility-links__contact__email a {
  font-size: var(--h6);
}



/*------------------------------------*\
    #Logo
\*------------------------------------*/

.footer__logo-container {
  position: relative;
  padding-bottom: 22%;
  margin-bottom: var(--level1);
  width: 100%;
}

@media screen and (min-width: 940px) {
  .footer__logo-container {
    margin-bottom: 0;
  }
}



.footer__logo-container svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: rgb(var(--color-base-text-2));
  fill: rgb(var(--color-base-text-2));
  margin-bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}




/*------------------------------------*\
    #Social Media
\*------------------------------------*/

@media screen and (min-width: 940px) {
  .footer__block__social-media {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10%;
    margin-top: var(--level8);
  }
}




/*------------------------------------*\
    #Copyright
\*------------------------------------*/


.footer__copyright {
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 940px) {
  .footer__copyright {
    text-align: right;
    margin-bottom: var(--level10);
    padding-right: var(--level7);
  }
}

.copyright__content {
  font-size: var(--mini);
}


@media screen and (min-width: 940px) {
  .copyright__content {
    font-size: var(--normal);
  }
}