/*------------------------------------*\
    #Recipe Post 
\*------------------------------------*/

.recipe-header {
    display: flex;
    justify-content: flex-start;
}

@media screen and (min-width: 940px) {
    .recipe-header {
        margin-top: var(--level5);
        margin-bottom: var(--level5);
    }
}

.recipe-header__inner {
    position: relative;
    display: flex;
    width: auto;
    position: relative;
    justify-content: space-between;
    z-index: 1;
    margin-bottom: var(--level4);
    flex-direction: row-reverse;
    flex-basis: content;
}

@media screen and (min-width: 940px) {
    .recipe-header__inner {
        margin-bottom: var(--level7);
    }
}


.recipe-header__heading {
    font-family: var(--tertiary-font-family);
    font-size: var(--h4);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0;
    background: rgb(var(--color-base-background-1));
    position: relative;
    z-index: 1;
    padding-right: var(--level2);
    font-weight: var(--font-weight-bold);
}

@media screen and (min-width:700px) {
    .recipe-header__heading {
        font-size: var(--h4);
    }
}

@media screen and (min-width:940px) {
    .recipe-header__heading {
        font-size: var(--h2);
    }
}

.recipe-header__subline {
    text-transform: uppercase;
    margin-bottom: 0;
    width: auto;
    padding-left: var(--level2);
    text-align: right;
    background: rgb(var(--color-base-background-1));
    position: static;
    font-size: var(--micro);
    display: flex;
    align-items: center;
    margin-left: 5rem;
}

@media screen and (min-width:940px) {
    .recipe-header__subline {
        font-size: var(--h4);
        margin-left: 8rem;
    }
}

.recipe-header__subline:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    z-index: -1;
    top: 5%;
}





/*------------------------------------*\
    #Body 
\*------------------------------------*/


.recipe-body {
    position: relative;
}

@media screen and (min-width:700px) {
    .recipe-body {
        display: flex;
        justify-content: space-between;
        gap: calc(var(--level6) + var(--level6));
    }
}

@media screen and (min-width: 940px) {
    .recipe-body {
        gap: var(--level8);
        margin-bottom: calc(var(--level10) + var(--level10));
    }
}




/*------------------------------------*\
    #Images 
\*------------------------------------*/

.recipe-images {
    position: relative;
    margin-bottom: 10rem;
    width: 100%;
    z-index: 0;
}

@media screen and (min-width:700px) {
    .recipe-images {
        max-width: 30rem;
        width: 40vw;
    }

}

@media screen and (min-width:940px) {
    .recipe-images {
        width: 50vw;
        max-width: 38rem;
    }
}

@media screen and (min-width:1200px) {
    .recipe-images {
        width: 35vw;
        max-width: 38rem;
        min-width: 38rem;
    }
}



.recipes-images__image {
    position: relative;
    padding-bottom: 140%;
    margin-bottom: var(--level10);
}

@media screen and (min-width:940px) {
    .recipes-images__image {
        margin-bottom: calc(var(--level10) + var(--level5)); 
    }
}

.recipes-images__image img {
    position: absolute;
    border-radius: 40px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}





/*------------------------------------*\
    #Information
\*------------------------------------*/


@media screen and (min-width: 940px) {
    .recipe-pinning-container {
        height: 100vh;
        min-height: 40rem;
    }
}

.recipe-information {
    position: fixed;
    z-index: 3;
    background-color: rgb(var(--color-base-background-1));
    width: 100%;
    left: 0;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid black;
    height: 94vh;
    transform: translateY(70vh);
    bottom: 0;
    transition: all .2s ease-in-out;
}


.recipe-information.is-active {
    transform: translateY(7rem);
    top: 0;
}

.recipe-body:after {
    content: " ";
    height: 30rem;
    background: rgb(248, 247, 239);
    background: linear-gradient(3deg, rgba(248, 247, 239, 1) 28%, rgb(255 255 255 / 0%) 70%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    width: 100%;
}


@media screen and (min-width: 700px) {
    .recipe-information {
        position: relative;
        transform: translateY(0);
        height: auto;
        top: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-left: 0;
        max-width: 38rem;
        width: 45vw;
        z-index: 0;
        top: 18vh; 
        position: sticky;
    }
}

.recipe-information__inner {
    padding-bottom: var(--level8)
}

@media screen and (min-width: 700px) {
    .recipe-information__inner {
        padding-bottom: 0;
    }
}

.recipe-information__header {
    padding: var(--level7);
    padding-bottom: var(--level1);
}

@media screen and (min-width: 700px) {
    .recipe-information__header {
        padding-top: var(--level4);
        padding-bottom: 0;
    }
}

.recipe-information .recipe-information__toggle {
    width: 100%;
}

@media screen and (min-width: 700px) {
    .recipe-information .recipe-information__toggle {
        display: none;
    }
}

.recipe-information__name {
    text-transform: uppercase;
    font-size: var(--h2);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--level2);
}

@media screen and (min-width: 700px) {
    .recipe-information__name {
        font-size: var(--h1);
        margin-bottom: var(--level5);
    }
}

.recipe-information__description {
    text-transform: uppercase;
}


.recipe-information__section {
    border-top: 1px solid black;
    padding: var(--level7);
}

@media screen and (min-width: 940px) {
    .recipe-information__section {
        padding-bottom: var(--level3);
    }
}

.recipe-information__section__heading {
    text-transform: uppercase;
    font-size: var(--text-normal);
}

@media screen and (min-width: 940px) {
    .recipe-information__section__heading {
        font-size: var(--h6);
        margin-bottom: var(--level6);
    }
}

@media screen and (min-width: 940px) {
    .recipe-information__section__body {
        font-size: var(--h6);
    }

    .recipe-information__section__body li {
        margin-bottom: var(--level6);
    }
}

.instructions-list li {
    list-style: decimal;
    margin-left: var(--level4);
}




/*------------------------------------*\
    #Information Toggle (Mobile) 
\*------------------------------------*/

.recipe-information__toggle {
    outline: 0;
    background-color: transparent;
    border: 0;
    max-width: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0;
    margin-bottom: calc(-1 * var(--level4));
}

.recipe-information__toggle:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    left: 0;
    right: 0;
    position: absolute;
}

.recipe-information__toggle span {
    opacity: 0;
}