/*------------------------------------*\
    #About Philosophy
\*------------------------------------*/

.about-philosophy {
    background-color: rgb(var(--color-base-background-2));
}

.about-philosophy__inner {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: var(--level8); 
}

@media screen and (min-width: 700px) {
    .about-philosophy__inner {
        grid-template-columns: repeat(12, 1fr);
    }
}

.about-philosophy__heading {
    font-family: var(--secondary-font-family);
    font-size: var(--h2);
    text-align: left;
    text-align: left;
    text-transform: uppercase;
}

.about-philosophy__heading em {
    text-transform: lowercase;
}

@media screen and (min-width: 700px) {
    .about-philosophy__heading {
        font-size: var(--kilo);
        grid-column: 1 / -1;
        grid-row: 1 / 2;  
        text-align: left;
    }
}

@media screen and (min-width: 940px) {
    .about-philosophy__heading {
        font-size: var(--mega);
    }
}

.about-philosophy__heading p {
    margin-bottom: 0;
}

.about-philosophy__quote {
    display: none;
}


@media screen and (min-width: 700px) {
    .about-philosophy__quote {
        display: block;
        font-family: var(--secondary-font-family);
        font-size: var(--h2);
        grid-column-end: -1;
        grid-column-start: 5;
        grid-row: 2 / 2;  
        line-height: 1;
        margin-top: var(--level5); 
        text-transform: uppercase;
        z-index: 1;
    }

    .about-philosophy__quote p {
        font-weight: 300;
        line-height: 1.3;
        margin-bottom: 0;
    }

    .about-philosophy__quote em {
        text-transform: lowercase;
    }
}

@media screen and (min-width: 940px) {
    .about-philosophy__quote {
        align-items: center;
        display: grid;
        font-size: var(--kilo);
        grid-column: 5 / -1;
        grid-row: 2 / 3;
        justify-content: center;
        margin-left: var(--level4);
        max-width: 56rem;
    }
}

.about-philosophy__body {
    background-color: rgb(var(--color-base-background-1));
    font-size: var(--h6); 
    margin-left: 15%; 
    margin-top: calc(var(--level8) * -1);
    order: 3; 
    padding: var(--level6);
    padding-bottom: var(--level3); 
    z-index: 1;
}

@media screen and (min-width: 700px) {
    .about-philosophy__body {
        align-items: center;
        background-color: transparent;
        display: grid;
        grid-column: 6 / -1;
        grid-row: 2 / 2;  
        justify-self: center;
        left: auto;
        margin-left: auto; 
        margin-right: 0;
        margin-top: var(--level10);
        max-width: 100%;
        order: 2;
        padding-left: var(--level10); 
        right: 0; 
        width: 100%;
    }

    .about-philosophy__body p {
        font-size: var(--h5);
    }
}

@media screen and (min-width: 940px) {
    .about-philosophy__body {
        grid-column: 6 / -1;
        grid-row: 3 / 3;
        margin-top: 0;
        max-width: 43rem;
        padding-bottom: var(--level5); 
        padding-left: var(--level8); 
        padding-right: var(--level10); 
        padding-top: 0; 
        position: relative;
    }

    .about-philosophy__body p {
        font-size: var(--h4);
    }
}

.about-philosophy__image {
    max-width: 35rem;
    position: relative;
    width: 85%;
}

@media screen and (min-width: 700px) {
    .about-philosophy__image {
        grid-column: 1 / 6;
        grid-row: 2 / 2;  
        position: relative;
        width: 100%;
    }
}

@media screen and (min-width: 940px) {
    .about-philosophy__image {
        grid-column: 1 / 6;
        grid-row: 2 / 4;
        max-width: 100%;
        position: relative;
    }
}

.about-philosophy__image__inner {
    padding-bottom: 120%; 
    position: relative;
}

@media screen and (min-width: 700px) {
    .about-philosophy__image__inner {
        padding-bottom: 125%; 
    }
}