



.blurb-section {
    background-color: rgb(var(--color-base-background-2)); 
    position: relative;
    overflow: ;
}

.blurb-section__inner {
    padding-top: var(--level10);
}



.blurb-section__heading {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--secondary-font-family); 
    font-size: var(--h2);
}

@media screen and (min-width: 700px) {
    .blurb-section__heading {
        font-size: var(--h1);
    }
}


@media screen and (min-width: 940px) {
    .blurb-section__heading {
        font-size: var(--kilo);
    }
}


.blurb-section__image {
    max-width: 75%; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; 
    grid-column: 1 / -1;
    grid-row: 1 / 3;
}

.blurb-section__image__inner {
    position: relative;
    padding-bottom: 150%;
}


.blurb-section__body {
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
}

@media screen and (min-width: 940px) {
    .blurb-section__body {
        display: grid;
        grid-template-columns: 55% 40%;
        width: 100%; 
        justify-content: center;
        grid-column-gap: var(--level10);
        align-items: center;
        justify-content: center;
        grid-template-columns: 70% 35%;
    }
}


.blurb-section__copy {
    grid-column: 4 / -1;
    grid-row: 3 / 3;
    z-index: 1;
    margin-top: -3rem; 
    text-align: center;
}

@media screen and (min-width: 940px) {
    .blurb-section__copy {
        font-size: var(--h4);
        grid-row: 1 /3;
        grid-column: 1 /2;
    }

    .blurb-section__image {
        grid-row: 1 / 3;
        grid-row: 1 /3;
        grid-column: 1 /2;
        max-width: 70%;
    }
}


@media screen and (min-width: 940px) {
    .blurb-section__image,
    .blurb-section__copy {
        grid-column: auto;
        grid-row: auto;
    }
}
    
.blurb-section .card__heading {
    font-size: var(--h3);
    font-family: var(--secondary-font-family); 
    margin-bottom: var(--level4); 
}


@media screen and (min-width: 940px) {
    .blurb-section .card__inner {
        padding: var(--level8);
    }
}

@media screen and (min-width: 940px) {
    .blurb-section .card__heading {
        font-size: var(--h2);
    }
}




@media screen and (min-width: 940px) {
    .blurb-section .card {
        pointer-events: auto;
        width: 115%;
        left: -30%;
        position: relative;
        z-index: 1;
    }
}


.blurb-section__image {
    position: relative;
    padding-top: 10%; 
}

@media screen and (min-width: 940px) {
    .blurb-section__image {
        padding-top: 8%;
    }
}

.blurb-section__feature {
    position: absolute;
    left: 0; 
    top: 0; 
    max-width: 10rem; 
    text-align: center;
    font-size: var(--normal);
    text-transform: uppercase;
    line-height: 1;
}

.blurb-section__image .blurb-section__feature:nth-child(2) {
    top: -8%; 
    left: auto; 
    right: -45%;
}

@media screen and (min-width: 940px) {
    .blurb-section__image .blurb-section__feature:nth-child(2) {
        top: -4%;
        left: auto;
        right: -25%;
    }
}

.blurb-section__image .blurb-section__feature:nth-child(4) {
    top: -8%; 
    right: auto; 
    left: -25%;
}


.blurb-section__image .blurb-section__feature:nth-child(6) {
    bottom: -8%; 
    right: -42%; 
    left: auto;
    bottom: 20%; 
    top: auto; 
    max-width: 6rem;  
}

.blurb-section__image .blurb-section__feature:nth-child(7) {
    bottom: 35%; 
    left: -45%; 
    top: auto;
}