/*------------------------------------*\
    #Content Slideshow Section
\*------------------------------------*/

.content-slideshow {
    background-color: rgb(var(--color-base-background-1));
    padding-bottom: 0;
    padding-top: 0;
}

.content-slideshow.has-bottom-border {
    border-bottom: 1px solid black;
}

.content-slideshow.has-top-border {
    border-top: 1px solid black;
}

.content-slideshow__inner {
    padding-bottom: var(--level7);
    padding-top: var(--level10);
}

@media screen and (min-width: 700px) {
    .content-slideshow__inner {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: var(--level5);
        padding-right: var(--level5);
        padding-bottom: var(--level9);
    }
}

@media screen and (min-width: 940px) {
    .content-slideshow__inner {
        max-width: var(--max-width-large);
        padding-left: var(--level8);
        padding-right: var(--level8);
        padding-top: calc(var(--level10) + var(--level8));
        padding-bottom: calc(var(--level10) + var(--level8));
    }
}

@media screen and (min-width:700px) and (hover: hover) {
    .content-slideshow .swiper-wrapper {
        cursor: auto !important;
    }
}





/*------------------------------------*\
    #Copy Slideshow
\*------------------------------------*/

.content-slideshow__copy-slideshow {
    position: relative;
    width: 100%;
}

@media screen and (min-width: 700px) {
    .content-slideshow__copy-slideshow {
        width: 50%;
    }
}


.content-slideshow__copy-slideshow .swiper-slide {
    display: flex;
    justify-content: center;
    opacity: 0;
}

.content-slideshow__copy-slideshow .swiper-slide-prev p {
    opacity: 0;
    transition: all .2s ease-in-out;
}

.content-slideshow__copy-slideshow p {
    opacity: 0;
}

.content-slideshow__copy-slideshow .swiper-slide-prev p {
    opacity: 0;
}

.content-slideshow__copy-slideshow .swiper-slide.swiper-slide-active p {
    opacity: 1;
}





/*------------------------------------*\
    #Copy
\*------------------------------------*/

.content-slideshow__copy {
    text-align: center;
    position: absolute;
}

.swiper-wrapper .content-slideshow__copy {
    position: relative;
}

@media screen and (min-width:700px) {
    .content-slideshow__copy {
        text-align: left;
        position: relative;
    }
}

.content-slideshow__copy__inner {
    padding-top: var(--level9);
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}


@media screen and (min-width:700px) {
    .content-slideshow__copy__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        max-width: 100%;
        padding-right: var(--level9);
        padding-top: var(--level3);
    }
}

@media screen and (min-width: 940px) {
    .content-slideshow__copy__inner {
        padding-top: var(--level9);
        padding-bottom: var(--level8);
        padding-right: var(--level4);
        padding-left: var(--level4);
        max-width: 44rem;
        margin-right: auto;
        margin-left: auto;
    }
}





/*------------------------------------*\
    #Slideshow Navigation
\*------------------------------------*/


.content-slideshow__copy-slideshow .swiper-button-next,
.content-slideshow__copy-slideshow .swiper-button-prev {
    z-index: -1;
    pointer-events: none;
}

@media screen and (min-width:700px) and (hover: hover) {

    .content-slideshow__copy-slideshow .swiper-button-next,
    .content-slideshow__copy-slideshow .swiper-button-prev {
        z-index: 2;
        pointer-events: all;
    }

    .content-slideshow__copy-slideshow .swiper-button-prev {
        display: block;
        height: 140%;
        width: 100%;
        background: transparent;
        left: 0;
        width: 95%;
        top: -15%;
    }

    .content-slideshow__copy-slideshow .swiper-button-next {
        right: -100%;
        left: auto;
        background: transparent;
        height: 140%;
        top: -15%;
        width: 100%;
    }

    .content-slideshow__copy-slideshow .swiper-button-prev:after,
    .content-slideshow__copy-slideshow .swiper-button-next:after {
        content: "";

    }

    .content-slideshow__copy-slideshow .swiper-button-prev,
    .content-slideshow__copy-slideshow .swiper-button-next {
        display: block;
    }
}




.content-slideshow__copy__header {
    position: relative;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    z-index: 1;
    margin-bottom: var(--level4);
    flex-direction: row-reverse;
    background-color: rgb(var(--color-base-background-1));
}

@media screen and (min-width: 940px) {
    .content-slideshow__copy__header {
        margin-bottom: var(--level7);
    }
}

.content-slideshow__copy__heading {
    font-family: var(--tertiary-font-family);
    font-size: var(--h4);
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 0;
    background: rgb(var(--color-base-background-1));
    position: relative;
    z-index: 1;
    font-weight: var(--font-weight-bold);
    margin-left: 30%;
}

@media screen and (min-width:700px) {
    .content-slideshow__copy__heading {
        font-size: var(--h4);
        margin-left: 2%;
        width: auto;
        display: inline;
        padding-left: var(--level2);
    }
}

@media screen and (min-width:940px) {
    .content-slideshow__copy__heading {
        font-size: var(--h1);
    }
}

.content-slideshow__copy__subline {
    text-transform: uppercase;
    margin-bottom: 0;
    width: auto;
    padding-right: var(--level2);
    text-align: right;
    background: rgb(var(--color-base-background-1));
    position: static;
    font-size: var(--micro);
    display: flex;
    align-items: flex-start;
    padding-top: 4px;
}

@media screen and (min-width:940px) {
    .content-slideshow__copy__subline {
        font-size: var(--h4);
        padding-top: 7px;
    }
}

@media screen and (min-width:700px) {
    .content-slideshow__copy__subline {
        padding-right: var(--level4);
    }
}

.content-slideshow__copy__subline:after {
    content: " ";
    position: absolute;
    width: 35%;
    height: 2px;
    background-color: black;
    top: 12px;
    left: 10%;
    z-index: -1;
}

@media screen and (min-width:700px) {
    .content-slideshow__copy__subline:after {}
}

.content-slideshow__copy__body {
    font-size: var(--normal);
    max-width: 30rem;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width:700px) {
    .content-slideshow__copy__body {
        font-size: var(--normal);
        max-width: 100%;
    }
}

@media screen and (min-width:940px) {
    .content-slideshow__copy__body {
        font-size: var(--h3);
    }
}

.content-slideshow__copy__body p {
    text-align: justify;
}

@media screen and (min-width:940px) {
    .content-slideshow__copy__body p {
        line-height: 1.5;
    }
}

.content-slideshow__copy__cta {
    text-transform: uppercase;
    font-size: var(--h5);
    position: relative;
    z-index: 0;
    margin-bottom: var(--level10);
}

@media screen and (min-width:700px) {
    .content-slideshow__copy__cta {
        font-size: var(--micro);
    }
}

.content-slideshow__copy__cta a {
    background-color: #F9EFB2;
    padding-left: var(--level1);
    padding-right: var(--level1);
    text-decoration: underline;
}

.content-slideshow__copy__cta a:hover,
.content-slideshow__copy__cta a:focus {
    text-decoration: none;
}

@media screen and (min-width:700px) {
    .content-slideshow__copy__cta {
        font-size: var(--h4);
        margin-bottom: calc(var(--level9) + var(--level9));
    }
}





/*------------------------------------*\
    #Images Slideshow
\*------------------------------------*/


.content-slideshow__images-slideshow {
    margin-bottom: var(--level3);
}

@media screen and (min-width:700px) {
    .content-slideshow__images-slideshow {
        width: 50%;
        height: 100%;
    }
}


.content-slideshow__images-slideshow__inner {
    height: 86vw;
    overflow: hidden;
    max-height: 34rem;
}

@media screen and (min-width: 700px) {
    .content-slideshow__images-slideshow__inner {
        padding-bottom: 0;
        max-height: none;
        max-height: auto;
        min-height: auto;
        height: auto;
        margin: auto;
        padding-bottom: 88%;
        border-radius: 20px;
    }
}


@media screen and (min-width: 940px) {
    .content-slideshow__images-slideshow__inner {
        max-width: 90%;
        margin-left: auto;
        margin-right: 0;
    }
}


@media screen and (min-width: 1280px) {
    .content-slideshow__images-slideshow__inner {
        max-width: 80%;
    }
}

.content-slideshow__images-slideshow__inner custom-slideshow {
    /* display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%; */
}

.content-slideshow__images-slideshow .swiper-button-next,
.content-slideshow__images-slideshow .swiper-button-prev {
    display: none;
}

@media screen and (min-width:700px) {

    /* .content-slideshow__images-slideshow .swiper-button-next {
        display: block;
        height: 130%;
        width: 100%;
        background: rgba(255, 0, 0, 0.091);
        left: 0;
        width: 95%;
        top: -9%;
    }

    .content-slideshow__images-slideshow .swiper-button-next:after {}

    .content-slideshow__images-slideshow .swiper-button-next {
        display: block;
    } */
}



@media screen and (min-width: 700px) {
    .content-slideshow__images-slideshow .swiper-container {
        height: 100%;
    }
}


.content-slideshow__images-slideshow .swiper-wrapper {
    padding-left: var(--level7);
}

.content-slideshow__images-slideshow .swiper-slide {
    width: 84%;
    max-width: 32rem;
}

@media screen and (min-width:700px) {
    .content-slideshow__images-slideshow .swiper-slide {
        width: 100%;
        max-width: 100%;
    }
}






/*------------------------------------*\
    #Images
\*------------------------------------*/

.content-slideshow__image {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.swiper-slide .content-slideshow__image {
    padding-bottom: 110%;
}


@media screen and (min-width:700px) {
    .content-slideshow__image {
        border-bottom: 0;
    }

    .swiper-slide .content-slideshow__image {
        padding-bottom: 130%;
    }
}

.content-slideshow__image-wrapper {
    padding-bottom: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

@media screen and (min-width:700px) {
    .content-slideshow__image-wrapper {
        padding-bottom: 110%;
    }
}

.content-slideshow__image-wrapper img {
    width: 100%;
    height: 101%;
    object-fit: cover;
    top: -1%;
    bottom: 0;
    object-position: center;
    position: absolute;
}







/*------------------------------------*\
    #Swiper
\*------------------------------------*/


.content-slideshow .swiper-pagination,
.content-slideshow .swiper-pagination.swiper-pagination-horizontal {
    display: flex;
    justify-content: center;
    bottom: 0;
    top: 0;
    bottom: auto;
    z-index: 0;
}

@media screen and (min-width:700px) {

    .content-slideshow .swiper-pagination,
    .content-slideshow .swiper-pagination.swiper-pagination-horizontal {
        justify-content: flex-end;
        padding-right: calc(var(--level10) + var(--level7));
        padding-left: var(--level4);
        max-width: 44rem;
        margin-right: 0;
        margin-left: auto;
        right: 0;
        bottom: calc(-1 * var(--level3));
        top: auto;
    }
}

.content-slideshow .swiper-pagination-bullet {
    background-color: transparent;
    width: 1.5rem;
    height: 1.25rem;
    padding-bottom: .5rem;
    position: relative;
    margin-right: .75rem !important;
    opacity: 1;
}

@media screen and (min-width:940px) {

    .content-slideshow .swiper-pagination-bullet {
        font-size: var(--h4);
        text-align: right;
        width: 2rem;
        height: 2rem;
        margin-right: 1.5rem !important;
    }
}

.content-slideshow .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #F9EFB2;
    border-radius: 0;
    opacity: 1;
}

.content-slideshow .swiper-pagination-bullet-active.swiper-pagination-bullet:after {
    opacity: 1;
    width: 100%;
}


.content-slideshow .swiper-pagination-bullet:after {
    content: " ";
    width: 0;
    height: 1px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -.15rem;
    opacity: 0;
    transition: all .2s ease-in-out;
}