
:root {
    --line-elements-width: 1px; 
}
.blurb-section {
    background-color: rgb(var(--color-base-background-2)); 
    position: relative;
    overflow: ;
}

.blurb-section__inner {
    padding-top: var(--level10);
}

.blurb-section__heading {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--secondary-font-family); 
    font-size: var(--h2);
}

.blurb-section__heading em {
    text-transform: lowercase;
}

@media screen and (min-width: 700px) {
    .blurb-section__heading {
        font-size: var(--h1);
    }
}

@media screen and (min-width: 940px) {
    .blurb-section__heading {
        font-size: var(--kilo);
        margin-bottom: var(--level10);
    }
}

.blurb-section__image {
    max-width: 79%; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; 
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    position: relative;
    padding-top: 10%; 
}

@media screen and (min-width: 940px) {
    .blurb-section__image {
        padding-top: 0; 
    }
}

.blurb-section__image__inner {
    position: relative;
    padding-bottom: 150%;
}

@media screen and (min-width: 940px) {
    .blurb-section__image__inner {
        padding-bottom: 155%;
    }
}

.blurb-section__body {
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
}

@media screen and (min-width: 940px) {
    .blurb-section__body {
        display: grid;
        grid-template-columns: 55% 45%;
        width: 100%; 
        justify-content: center;
        grid-column-gap: var(--level10);
        align-items: center;
        justify-content: center;
    }
}

.blurb-section__copy {
    grid-column: 4 / -1;
    grid-row: 3 / 3;
    z-index: 1;
    margin-top: -3rem; 
    text-align: center;
}

@media screen and (min-width: 940px) {
    .blurb-section__copy {
        font-size: var(--h4);
        grid-row: 1 /3;
        grid-column: 1 /2;
    }

    .blurb-section__image {
        grid-row: 1 / 3;
        grid-column: 1 /2;
        max-width: 80%;
    }
}

@media screen and (min-width: 940px) {
    .blurb-section__image,
    .blurb-section__copy {
        grid-column: auto;
        grid-row: auto;
    }
}

.blurb-section .card__heading {
    font-size: var(--h3);
    font-family: var(--secondary-font-family); 
    margin-bottom: var(--level4); 
}

.blurb-section .card__heading em {
    text-transform: lowercase;
}

@media screen and (min-width: 940px) {
    .blurb-section .card__inner {
        padding: var(--level8);
    }
}

@media screen and (min-width: 940px) {
    .blurb-section .card__heading {
        font-size: var(--h1);
        text-transform: uppercase;
        text-align: center;
        font-family: var(--secondary-font-family);
        margin-bottom: var(--level8);
    }
}

@media screen and (min-width: 940px) {
    .blurb-section .card {
        pointer-events: auto;
        position: relative;
        z-index: 1;
    }

    .blurb-section .card__inner {
        padding-left: var(--level8);
        padding-right: var(--level8);
        padding-top: var(--level10);
        padding-bottom: var(--level10);
    }
}

.blurb-section__feature {
    position: absolute;
    left: 0; 
    top: 0; 
    max-width: 10rem; 
    text-align: center;
    font-size: var(--normal);
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    flex-direction: column;
    max-width: 7rem;
}

.blurb-section__image .blurb-section__feature:nth-child(1) {
    top: -2rem;
    left: 100%;  
    left: auto; 
    color: green
}

.blurb-section__image .blurb-section__feature:nth-child(1):before {
    position: absolute;
    width: 100%; 
    height: 3rem;
    border-bottom: var(--line-elements-width) solid rgb(var(--color-base-text-1));
    border-right: var(--line-elements-width) solid rgb(var(--color-base-text-1));
    content: '';
    top: 160%; 
    left: -50%;
}

/* @media screen and (min-width: 940px) {
    .blurb-section__image .blurb-section__feature:nth-child(1) {
        top: -1%;
        left: auto;
        right: -25%;
    }
} */

.blurb-section__image .blurb-section__feature:nth-child(2) {
    top: -8%; 
    right: -31%;
    left: auto;
}

@media screen and (min-width: 940px) {
    .blurb-section__image .blurb-section__feature:nth-child(2) {
        top: 10%;
        left: auto;
        right: -30%;
    }
} 

.blurb-section__image .blurb-section__feature:nth-child(2)::before {
    position: absolute;
    width: 30%; 
    height: 7rem;
    border-bottom: var(--line-elements-width) solid rgb(var(--color-base-text-1));
    border-right: var(--line-elements-width) solid rgb(var(--color-base-text-1));
    content: '';
    top: 3.5rem; 
    right: 50%;
}

@media screen and (min-width: 940px) {
    .blurb-section__image .blurb-section__feature:nth-child(2)::before {
        width: 120%;
        height: 2rem;
    }
}

.blurb-section__image .blurb-section__feature:nth-child(3) {
    bottom: -8%;
    right: -30%;
    left: auto;
    bottom: 20%;
    top: auto;
    text-align: center;
}

.blurb-section__image .blurb-section__feature:nth-child(3)::before {
    position: absolute;
    width: 70%; 
    height: 2rem;
    border-top: var(--line-elements-width) solid rgb(var(--color-base-text-1));
    border-right: var(--line-elements-width) solid rgb(var(--color-base-text-1));
    content: '';
    bottom: 3rem; 
    right: 50%;
}

@media screen {
    .blurb-section__image .blurb-section__feature:nth-child(3)::before {
        width: 130%;
        height: 2rem;
    }
}

.blurb-section__image .blurb-section__feature:nth-child(4) {
    bottom: 20%; 
    top: -.5rem;
    left: 35%; 
}

@media screen and (min-width: 940px) {
    .blurb-section__image .blurb-section__feature:nth-child(4) {
        bottom: 50%; 
        left: -30%; 
        top: auto;
    }
}

.blurb-section__image .blurb-section__feature:nth-child(4)::before {
    width: var(--line-elements-width); 
    height: 4rem; 
    content: '';
    position: absolute;
    top: 1.75rem; 
    left: 50%; 
    z-index: 1;
    background-color: rgb(var(--color-base-text-1));
}

@media screen and (min-width: 940px) {
    .blurb-section__image .blurb-section__feature:nth-child(4)::before {
        border-bottom: 0; 
        width: 60%; 
        border-bottom: var(--line-elements-width) solid rgb(var(--color-base-text-1));
        background-color: transparent;
        height: 1px;
        top: .5rem;
        left: 120%;
    }
}

.blurb-section__image .blurb-section__feature:nth-child(5) {
    bottom: 35%; 
    left: -35%; 
    top: auto;
}

@media screen and (min-width: 940px) {
    .blurb-section__image .blurb-section__feature:nth-child(5) {
        left: -29%; 
        bottom: 8%; 
    }
}

.blurb-section__image .blurb-section__feature:nth-child(5)::before {
    position: absolute;
    width: 100%; 
    height: 3rem;
    border-bottom: var(--line-elements-width) solid rgb(var(--color-base-text-1));
    border-left: var(--line-elements-width) solid rgb(var(--color-base-text-1));
    content: '';
    top: 160%; 
    right: -50%;
    left: auto; 
}

@media screen and (min-width: 940px) {
    .blurb-section__image .blurb-section__feature:nth-child(5)::before {
        left: 50%; 
        bottom: 150%;
        top: auto; 
        border: 0; 
        width: 130%; 
        border-top: var(--line-elements-width) solid rgb(var(--color-base-text-1));
        border-left: var(--line-elements-width) solid rgb(var(--color-base-text-1));
    }
}

.blurb-section__image .blurb-section__feature:nth-child(6) {
    bottom: 35%; 
    left: -31%; 
    top: -2rem;
}

@media screen and (min-width: 940px) {
    .blurb-section__image .blurb-section__feature:nth-child(6) {
        top: 20%; 
        bottom: auto;
        left: -29%; 
    }
}

.blurb-section__image .blurb-section__feature:nth-child(6):before {
    position: absolute;
    width: 30%;
    height: 7rem;
    border-bottom: var(--line-elements-width) solid rgb(var(--color-base-text-1));
    border-left: var(--line-elements-width) solid rgb(var(--color-base-text-1));
    content: '';
    top: 3.5rem;
    bottom: auto;
    left: 50%;
}

@media screen and (min-width: 940px) {
    .blurb-section__image .blurb-section__feature:nth-child(6):before {
        width: 120%;
        height: 2rem;
    }
}
