/*------------------------------------*\
    #Featured Collection
\*------------------------------------*/

.featured-collection {
    background-color: rgb(var(--color-base-background-2));
}
.featured-collection custom-slideshow {
    display: block;
    width: 100%; 
}

.featured-collection__inner  {
    padding-top: var(--level10);
}

@media only screen and (min-width: 700px) {
    .featured-collection__inner {
        padding-right: var(--level7);
        padding-left: var(--level7);
    }
}
  @media only screen and (min-width: 940px) {
    .featured-collection__inner {
      padding-top: calc(var(--level10) * 2);
      max-width: var(--max-width-large);
      margin-left: auto;
      margin-right: auto;
    }
  }
  


@media screen and (min-width: 600px) {
    .featured-collection__inner  {
        display: flex;
        column-gap: 2rem;
        justify-content: space-between;
    column-gap: var(--level10);
    }
}

@media screen and (min-width: 1200px) {
    .featured-collection__inner  {
        column-gap: var(--level9);
    }
}

@media screen and (min-width: 1680px) {
    .featured-collection__inner  {
        column-gap: calc(var(--level8) * 2);
    }
}


.featured-collection__header {
    margin-bottom: var(--level6); 
    display: flex;
    flex-basis: content;
    flex-shrink: 0;
    margin-bottom: var(--level10);
}

.featured-collection__heading {
    font-family: var(--secondary-font-family); 
    font-size: var(--h1);
    text-align: center;
    margin-bottom: var(--level7); 
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    font-weight: 300;
}

.featured-collection__title {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

@media screen and (min-width: 700px) {
    .featured-collection__title {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.featured-collection__title a {
    width: max-content;
    flex-basis: content;
    width: 100%;
  min-width: max-content;
}

.featured-collection__heading em {
    font-style: normal;
    text-transform: lowercase;
    font-style: italic;
}

.featured-collection__description {
    font-size: var(--h6); 
    text-align: center;
}

@media screen and (min-width: 600px) {
    .featured-collection__products-list {
        width: 100%;
    }

    .featured-collection__products-list custom-slideshow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-self: end;
        align-self: end;
        gap: var(--level8);
    }
}

@media screen and (min-width: 1200px) {
    .featured-collection__products-list custom-slideshow {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.featured-collection__products-list.no-slideshow  .featured-collection__products__item {
    width: 100%;
}

.swiper-slide .featured-collection__products__item { 
    width: 70vw; 
}

.featured-collection .card__content {
    margin-bottom: 0;
}




/*------------------------------------*\
    #Swiper
\*------------------------------------*/

.featured-collection .swiper-slide {
    width: 70vw; 
}

.featured-collection .swiper-container {
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: var(--level6); 
}

@media screen and (min-width: 600px) {
    .featured-collection .swiper-container {
        max-width: 80%;
    }
}

@media screen and (min-width: 900px) {
    .featured-collection .swiper-container {
        max-width: 100%;
        margin-left: 0; 
        margin-right: 0; 
        max-width: auto;
    }

    .featured-collection .swiper-wrapper {
    }
}

.featured-collection .swiper-pagination.swiper-pagination-bullets {
    bottom: -1.5rem; 
    z-index: 0;
}

.featured-collection .swiper-pagination-bullet {
    border: 2px solid rgb(var(--color-base-text-1)); 
    width: 15px;
    height: 15px;
    background-color: white;
    opacity: 1;
}

.featured-collection .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: rgb(var(--color-base-text-2));
}

.featured-collection .swiper-button-next:after,
.featured-collection .swiper-button-prev:after {
    content:"";

}

.featured-collection .swiper-button-next,
.featured-collection .swiper-button-prev {
    bottom: -2rem; 
    top: auto; 
    position: absolute;
    color: rgb(var(--color-base-text-1));
    z-index: 0; 
}

.featured-collection .swiper-button-next svg,
.featured-collection .swiper-button-prev svg {
    width: 100%;
}
.featured-collection .swiper-button-next {
    right: -3rem; 
    width: 3.5rem; 
    left: auto; 
}

.featured-collection .swiper-button-prev {
    left: -3rem; 
    width: 3.5rem; 
    right: auto; 
}