


.side-nav-wrapper {
    width: 100%;
    height: 80rem;
    position: sticky;
    z-index: 4;
    top: 0;
    align-items: center;
    justify-content: center;
    display: none;
}


@media screen   and (min-width: 1100px) {
    .side-nav-wrapper {
        display: flex;
        height: 60rem;
    }
}


@media screen and (min-width: 940px) {
    .side-nav-wrapper  + div {
        margin-top: -60rem;
        height: 60rem;
    }
}

.side-nav-wrapper .page-width {
    width: 100%;
    position: absolute;
    top: 0;
}

.side-nav {
    position: absolute;
    left: auto;
    top: 0; 
    right: 0; 
    padding: 10px;
    display: none; /* Hidden by default */
    overflow: hidden;
}

@media screen and (min-width: 940px) {
    .side-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60rem;
        width: 0; 
    }
}


.side-nav__list {
    display: flex; 
    flex-direction: row; 
    gap: var(--level4); 
    flex-wrap: nowrap;
    transform: rotate(90deg);
    gap: 12vh;
}

.side-nav__list a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-family: var(--tertiary-font-family);
    text-decoration: none;
}

.side-nav__list a:hover,
.side-nav__list a:focus {
    text-decoration: underline;
}
  
  /* .side-nav ul {
    list-style: none;
    padding: 0;
  }
  .side-nav li {
    margin-bottom: 10px;
  }
  .side-nav a {
    text-decoration: none;
    color: #333;
  } */