/*------------------------------------*\
    #Recipes Featured
\*------------------------------------*/


.recipes-featured-section {
    background-color: rgb(var(--color-base-background-1));
    padding-bottom: 0;
    padding-top: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.recipes-featured-section.has-top-border {
    border-top: 2px solid black;
}

.recipes-featured-section.has-bottom-border {
    border-bottom: 2px solid black;
}


.recipes-featured__inner {
    padding-bottom: var(--level10);
    padding-top: var(--level10);
}

@media screen and (min-width:700px) {
    .recipes-featured__inner {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:940px) {
    .recipes-featured__inner {
        padding-bottom: calc(var(--level10) + var(--level8));
        padding-top: calc(var(--level10) + var(--level8));
    }
}



/*------------------------------------*\
    #Header
\*------------------------------------*/


.recipes-featured-header {
    display: flex;
    margin-bottom: var(--level6);
    padding-bottom: 0;
}

@media screen and (min-width: 940px) {
    .recipes-featured-header {
        margin-bottom: var(--level10);
    }
}


.recipes-featured-header__inner {
    display: flex;
    flex-basis: content;
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 1;
}


.recipes-featured-header__heading {
    background: rgb(var(--color-base-background-1));
    font-family: var(--tertiary-font-family);
    font-size: var(--h2);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0;
    padding-right: var(--level4);
    position: relative;
    text-align: left;
    text-transform: uppercase;
    z-index: 1;
}

@media screen and (min-width:700px) {
    .recipes-featured-header__heading {
        font-size: var(--h2);
    }
}

@media screen and (min-width:940px) {
    .recipes-featured-header__heading {
        font-size: var(--h1);
    }
}

.recipes-featured-header__subline {
    align-items: center;
    background: rgb(var(--color-base-background-1));
    display: flex;
    font-size: var(--normal);
    margin-bottom: 0;
    margin-left: var(--level10);
    padding-left: var(--level4);
    position: static;
    text-align: right;
    text-transform: uppercase;
    width: auto;
}

@media screen and (min-width:940px) {
    .recipes-featured-header__subline {
        font-size: var(--h5);
        margin-left: calc(var(--level10) + var(--level10));
    }
}

.recipes-featured-header__subline:after {
    background-color: rgb(var(--color-base-background-3));
    bottom: 0;
    content: " ";
    height: 1px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    top: 5%;
}


/*------------------------------------*\
    #CTA
\*------------------------------------*/


.recipes-featured__cta {
    font-size: var(--text-micro);
    text-align: center;
}


@media screen and (min-width:940px) {
    .recipes-featured__cta {
        font-size: var(--h4);
        text-align: center;
    }
}

.recipes-featured__cta a:hover,
.recipes-featured__cta a:focus {
    background: #F9EFB2;
}




/*------------------------------------*\
    #Card List
\*------------------------------------*/


.recipes-featured__card-list {
    margin-bottom: var(--level5);
    padding-left: var(--level5);
    width: 100%;
}

@media screen and (min-width:940px) {
    .recipes-featured__card-list {
        margin-left: auto;
        margin-right: auto;
        max-width: 115rem;
        padding-left: var(--level10)
    }
}

@media screen and (min-width:1280px) {
    .recipes-featured__card-list {
        max-width: 120rem;
    }
}


.recipes-featured__card-list .swiper-slide {
    max-width: 25rem;
    width: 95%;
}

@media screen and (min-width:940px) {
    .recipes-featured__card-list .swiper-slide {
        max-width: 23rem;
        width: 75%;
    }
}

.recipes-featured__card-list .swiper-pagination-bullet {
    background-color: #F9EFB2;
    border: 1px solid #000000;
    opacity: 1;
}

.recipes-featured__card-list .swiper-pagination-bullet-active {
    background-color: rgb(var(--color-base-background-2));
}






/*------------------------------------*\
    #Cards
\*------------------------------------*/

.recipe-card {
    margin-bottom: var(--level9);
    text-decoration: none;
}

.recipe-card:hover .recipe-card__flip-indicator, 
.recipe-card:focus  .recipe-card__flip-indicator {
    transform: rotate(-360deg); 
}

.recipe-card a {
    text-decoration: none;
}

.recipe-card__inner {
    text-decoration: none;
}


.recipe-card__flip-card__inner.is-active {
    transform: rotateY(180deg);
}


.recipe-card__flip-card {
    margin-bottom: var(--level3);
    perspective: 2000px;
}

@media screen and (min-width:940px) {
    .recipe-card__flip-card {
        margin-bottom: var(--level6);
    }
}

.recipe-card__flip-card__inner {
    transform-style: preserve-3d;
    transition: transform var(--duration-long) var(--default-easing);
}

.recipe-card__front,
.recipe-card__back {
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
}

.recipe-information-card__heading {
    font-size: var(--text-normal);
    text-transform: uppercase;
}

@media screen and (min-width: 940px) {
    .recipe-information-card__heading {
        font-size: var(--h6);
        margin-bottom: var(--level6);
    }
}

@media screen and (min-width: 940px) {
    .recipe-information-card__body {
        font-size: var(--h6);
    }

    .recipe-information-card__body li {
        margin-bottom: var(--level6);
    }
}





/*------------------------------------*\
    #Flip Indicator
\*------------------------------------*/

.recipe-card__flip-indicator {
    bottom: var(--level3);
    height: 3rem;
    position: absolute;
    right: var(--level3);
    transition: all var(--duration-long) var(--default-easing);
    width: 3rem;
    z-index: 2;
}




/*------------------------------------*\
    #Card Back
\*------------------------------------*/

.recipe-card__back {
    background-color: var(--color-base-background-2);
    border-radius: 20px;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotateY(180deg);
    width: 100%;
}


.recipe-card__back__content {
    color: rgb(var(--color-base-text-2));
    height: 100%;
    padding: var(--level7);
    position: relative;
    z-index: 1;
}

@media screen and (min-width:940px) {
    .recipe-card__back__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: var(--level10);
        padding-top: var(--level2);
    }
}

.recipe-card__back__heading {
    display: inline-block;
    font-size: var(--h3);
    font-weight: var(--font-weight-bold);
    position: relative;
    text-transform: uppercase;
    margin-bottom: var(--level6);
}


.recipe-card__back__heading:after {
    background-color: white;
    bottom: -.25rem;
    content: ' ';
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

.recipe-card__back__body {
    font-size: var(--level4);
    height: 70%; 
    overflow: hidden; 
    text-overflow: ellipsis;
    position: relative;
}

@media screen and (min-width:940px) {
    .recipe-card__back__body {
        height: 69%;
    }
}

.recipe-card__back__cta {
    bottom: 0;
    left: 0;
    padding-bottom: var(--level10);
    padding-left: var(--level3);
    padding-right: var(--level3);
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.recipe-card__back__cta a {
    color: rgb(var(--color-base-text-2));
    font-size: var(--h5);
    text-decoration: underline;
}

.recipe-card__back__cta a:focus,
.recipe-card__back__cta a:hover {
    text-decoration: none;
}

.recipe-card__image-container {
    position: relative;
}

.recipe-card__image {
    overflow: hidden;
    padding-bottom: 155%;
    position: relative;
}

@media screen and (min-width:940px) {
    .recipe-card__image {
        overflow: hidden;
        padding-bottom: 160%;
        position: relative;
    }
}


.recipe-card__recipe-name {
    font-size: var(--h3);
    font-weight: var(--font-weight-bold);
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width:940px) {
    .recipe-card__recipe-name {
        font-size: var(--h2);
    }
}






/*------------------------------------*\
    #Card Preview
\*------------------------------------*/

.recipe-card__preview {
    height: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-card__preview__heading {
    text-transform: uppercase;
    font-size: var(--text-normal);
}

@media screen and (min-width: 940px) {
    .recipe-card__preview__heading {
        font-size: var(--h6);
        margin-bottom: var(--level2);
    }
}

@media screen and (min-width: 940px) {
    .recipe-card__preview__body {
        font-size: var(--h6);
    }

    .recipe-card__preview__body li {
        margin-bottom: var(--level6);
    }
}

.recipe-card__preview ul  {
    margin-bottom: var(--level6);
}

.recipe-card__preview p  {
    margin-bottom: var(--level2);
}

.recipe-card__preview .ingredients-list li, 
.recipe-card__preview .instructions-list li {
    list-style: decimal;
    margin-left: var(--level4);
    margin-bottom: var(--level1);
}





