/*------------------------------------*\
    #Blog Posts Header
\*------------------------------------*/

.blog-posts-header {
    padding-bottom: 0;
    margin-bottom: var(--level6);
    margin-top: var(--level10);
}


.blog-posts-header__heading {
    font-size: var(--h2);
    text-align: uppercase;
    font-family: var(--secondary-font-family);
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 940px) {
    .blog-posts-header__heading {
        font-size: var(--kilo);
        margin-bottom: var(--level9);
    }
}


.blog-posts-header__subline {
    text-transform: uppercase;
    margin-bottom: 0;
    width: auto;
    padding-left: var(--level4);
    text-align: right;
    background: rgb(var(--color-base-background-1));
    position: static;
    font-size: var(--mini);
    display: flex;
    align-items: center;
    margin-left: var(--level10);
}







/*------------------------------------*\
    #Blog Preview
\*------------------------------------*/

.blog-preview {
    margin-bottom: calc(var(--level8) + var(--level8));
}


.blog-view-more__link {
    width: 5rem;
    height: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blog-view-more__link:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid black;
    border-radius: 12px;
    opacity: 0;
    transform: scale(.9);
    transition: all .2s ease-out;
}



.blog-view-more__link__icon {
    width: 50%;
}

.blog-view-more__link:hover:after,
.blog-view-more__link:focus:after {
    opacity: 1;
    transform: scale(1);
}

.blog-view-more__link:active {
    background-color: #F9EFB2;
}

@media screen {
    .blog-articles{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--level6);
    }
}
